h2 Сообщение с сайта klinikamedicina.ru
table
  tr
    td Имя:
    td= @question.name
  tr
    td Email:
    td= @question.email
  tr
    td Сообщение:
    td= @question.content
  tr
    td Дата:
    td= @question.created_at.strftime("%d.%m.%Y %H:%M")