h2 Сообщение с сайта klinikamedicina.ru
h3 Форма обратной связи
table
  tr
    td Имя:
    td= @feedback.name
  tr
    td Email:
    td= @feedback.email
  tr
    td Сообщение:
    td= @feedback.message
  tr
    td Дата:
    td= @feedback.created_at.strftime("%d.%m.%Y %H:%M")