.b-page__header
  h1 Вопрос-ответ

p Здесь вы можете задать любые интересующие вас вопросы и получить на них ответы специалистов нашей клиники.

= form_for @question, class: 'b-form b-form_question' do |f|
  p
    = f.text_field :name, placeholder: "Ваше имя",
      class: 'b-form__input b-form__short b-form__first',"data-validation" => "required"
  p
    = f.text_field :email, placeholder: "Ваша электронная почта",
      class: 'b-form__input b-form__short', "data-validation" => "email"
  p
    = f.text_area :content, placeholder: "Введите сюда ваш вопрос",
      class: 'b-form__input', "data-validation" => "required"
  
  .b-form__actions
    = f.submit "Задать вопрос", class: "btn"


.l-row
  .l-col-220
    ul.b-tags__list
      li
        =link_to "Все теги", questions_path, highlight_inline_active(questions_path)
      - @all_tags.map(&:name).each do |tag|
        li
          = link_to tag, tagged_questions_path(tag), highlight_inline_active(tagged_questions_path(tag))

  .l-col-700.b-questions
    h1.b-page__title Вопросы, с уже полученными ответами
    
    - @questions.each do |question|
      .b-question
        .b-question__title
          = question.name
          span=question.created_at.to_date.strftime("%d %m %Y")
        p=question.content
        .b-question__answer
          .b-question__title Ответ специалиста клиники:
          p=question.answer
        .b-questions_tags
          ul
            -question.tags.each do |q_tag|
              li
                =link_to q_tag, tagged_questions_path(q_tag.name)

.l-row