.b-page_with_sidebar
  = render "shared/sidebar"
  .b-page__content
    h2.b-content-title=@category.label
    = raw @category.description

    - services = @category.categorizations.map{ |r| r.categorized.name }
    .l-row
      - services.in_groups(2, false).each do |a|
        .l-col-2
          ul
            - a.each do |name|
              li = name
.l-row
