#= require tinymce
#= require comfortable_mexican_sofa/admin/jquery.form
#= require comfortable_mexican_sofa/admin/bootstrap-tagsinput.min
#= require comfortable_mexican_sofa/admin/typeahead.jquery
#= require comfortable_mexican_sofa/admin/bloodhound
#= require jquery.ui.datepicker-ru

@CSRF_TOKEN = $('meta[name=csrf-token]').attr('content')
@CSRF_PARAM = $('meta[name=csrf-param]').attr('content')
params = CSRF_PARAM + "=" + encodeURIComponent(CSRF_TOKEN)    



$ ->
  $('.datepicker').datepicker dateFormat: "dd.mm.yy"
  
  $(".sortable_table").sortable
    cursor: "ns-resize" 
    update: ->
      axis: "y"
      $.ajax
        url: "#{CMS.current_path}/reorder"
        data: $(this).sortable('serialize')
        type: "POST"
      

window.tinyMceFileUpload = ->
  $('#tiny_file_form').ajaxSubmit
    success: (data) ->
      $(".mce-in .mce-combobox input").val(data.filelink)
      $(".mce-in .mce-first button[role=presentation]").click() 
  this.value = ''

window.CMS.wysiwyg = ->
  $("body").append "
     <iframe id='form_target' name='form_target' style='display:none'></iframe>
     <form id='tiny_file_form' action='#{CMS.file_upload_path}?ajax=1&#{params}' target='form_target' method='post' enctype='multipart/form-data' style='width:0px;height:0;overflow:hidden'>
        <input id='tiny_file' name='file' type='file' style='visibility:hidden' onchange='tinyMceFileUpload()'/>
      </form>
    "
  tinymce.init
    selector: 'textarea[data-cms-rich-text], textarea.wysiwyg'
    language : 'ru'
    height: '400px'
    plugins: "table advlist autolink link image lists charmap print preview code paste codemirror template visualblocks"
    external_plugins: 
        "codemirror": "<%= asset_path 'tinymce/plugins/codemirror/plugin.js' %>"
    paste_data_images: true
    convert_urls: false    
    content_css : "<%= asset_path 'tinymce_styles_fix.css' %>"
    codemirror:
      indentOnInit: true

    file_browser_callback: (field_name, url, type, win) -> 
      $("#tiny_file").click()

    style_formats: [
      {title: "Headers", items: [
          {title: "Header 1", format: "h1"},
          {title: "Header 2", format: "h2"},
          {title: "Header 3", format: "h3"},
          {title: "Header 4", format: "h4"},
          {title: "Header 5", format: "h5"},
          {title: "Header 6", format: "h6"}
      ]},
      {title: "Inline", items: [
          {title: "Bold", icon: "bold", format: "bold"},
          {title: "Italic", icon: "italic", format: "italic"},
          {title: "Underline", icon: "underline", format: "underline"},
          {title: "Strikethrough", icon: "strikethrough", format: "strikethrough"},
          {title: "Superscript", icon: "superscript", format: "superscript"},
          {title: "Subscript", icon: "subscript", format: "subscript"},
          {title: "Code", icon: "code", format: "code"}
      ]},
      {title: "Blocks", items: [
          {title: "Paragraph", format: "p"},
          {title: "Blockquote", format: "blockquote"},
          {title: "Div", format: "div"},
          {title: "Pre", format: "pre"}
      ]},
      {title: "Alignment", items: [
          {title: "Left", icon: "alignleft", format: "alignleft"},
          {title: "Center", icon: "aligncenter", format: "aligncenter"},
          {title: "Right", icon: "alignright", format: "alignright"},
          {title: "Justify", icon: "alignjustify", format: "alignjustify"}
      ]},
        {
          title: 'Изображение обтекание слева', 
          selector: 'img', 
          styles: {
            'float' : 'left', 
            'margin': '0 10px 0 10px'
          }
        },
        {
          title: 'Изображение обтекание справа', 
          selector: 'img', 
          styles: {
            'float' : 'right', 
            'margin': '0 0 10px 10px'
          }
        }
      ]

    templates: [
        {
        title: "Раздвигающийся текстовый блок",
        content: "<div class='b-box-taggable'><div class='b-box__title'><a href='#'>Заголовок блока<a><div class='b-box__toggle'>&nbsp;</div></div><div class='b-box__content'><p>Текст блока</p></div></div><p>&nbsp;</p>",
        description: "Макет для вставки раздвигающегося текстового блока"
        }
    ]