.page-header
  h2 Услуги
table.table.table-hover.table-bordered.centered
  tbody
    tr
      td= link_to "Лечебные услуги", admin_therapeutic_services_path
      / # td= link_to "Изменить",  edit_page(@cosmetic_cms_page)
    tr
      td= link_to "Косметические услуги", admin_cosmetic_services_path
      / # td= link_to "Изменить", edit_page(@therapeutic_cms_page)