.b-page__header
  h1
    | Цены на услуги
    '
    span.b-hint
      i Все цены указаны в рублях. <br>Все время указано в минутах.
  ul
    li= link_to "Все услуги", price_index_path, highlight_inline_active(price_index_path)
    li= link_to "Лечебные услуги", theapeutic_price_index_path, highlight_inline_active(theapeutic_price_index_path)
    li= link_to "Косметические услуги", cosmetic_price_index_path, highlight_inline_active(cosmetic_price_index_path)

h2.not-a-bold Лечебные
- @theapeutic.each do |price|
  .b-box-taggable
    .b-box__title
      = link_to price.title, "#"
      .b-box__toggle
    .b-box__content
      table
        - price.service_prices.each do |service|
          tr
            td= service.title
            td.center= service.time
            td.center= service.cost


h2.not-a-bold Косметические
- @cosmetic.each do |price|
  .b-box-taggable
    .b-box__title
      = link_to price.title, "#"
      .b-box__toggle
    .b-box__content
      table
        - price.service_prices.each do |service|
          tr
            td= service.title
            td.center= service.time
            td.center= service.cost            