.b-nav {
  display: block;

  margin: 0; padding: 110px 0 0 0;
  list-style: none;
  line-height: 125%;
  text-align: right;

  li {
    display: inline-block;

    margin: 0; padding: 0;
    margin-left: 25px;
  }

  a {
    color: #2f393d;
    font-size: 14px;
  }
}