= form.text_field :date, label: "Дата", style: "width: 150px", class: "datepicker"
= form.text_field :title, label: "Заголовок"
= form.text_area :content, class: "wysiwyg"

div.form-group style="margin: 0 160px" 
  - Event::MARKERS.each do |marker|
    = form.radio_button "marker", marker, label: t(marker)

div.form-group style="margin: 0 160px"
  = image_tag @event.image.url(:thumb) if @event.image.exists?

= form.file_field :image, label: "Изображение"

= form.form_group :class => 'form-actions' do
  = form.submit "Сохранить", :class => 'btn btn-primary'