.page-header
  = link_to 'Новое событие', new_admin_event_path, :class => 'btn btn-default pull-right'
  %h2= 'События'

= paginate @events, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th Дата
    %th Заголовок
    %th.main Содержание
    %th Маркер
    %th Картинка
    %th
  - @events.each do |event|
    %tr
      %td= event.date.to_date
      %td= event.title
      %td.main= event.content
      %td= event.marker
      %td= image_tag event.image.url(:thumb) if event.image.exists?
      %td
        .btn-group.btn-group-sm
          = link_to 'Изменить', edit_admin_event_path(event), :class => 'btn btn-default'
          = link_to 'Удалить', admin_event_path(event), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= paginate @events, :theme => 'comfy'