.page-header
  = link_to 'Новая услуга', new_admin_therapeutic_service_path, :class => 'btn btn-default pull-right'
  %h2= 'Лечебные услуги'

= render :partial => 'comfy/admin/cms/categories/index', :object => 'TherapeuticService'
%table.table.table-hover.table-bordered.nowrap_table
  %tr
    %th.col-sm-2 Название
    / %th.col-sm-2 Содержание
    %th.col-sm-2 Категории
    %th.col-sm-2
  %tbody{ class: ('sortable_table' if @category.nil?) }
    - @therapeutic_services.each do |therapeutic_service|
      %tr{id: dom_id(therapeutic_service)}
        %td= therapeutic_service.name
        / # %td= truncate(therapeutic_service.content)
        %td= therapeutic_service.categories.map(&:label).join(", ")
        %td
          .btn-group.btn-group-sm
            = link_to 'Изменить', edit_admin_therapeutic_service_path(therapeutic_service), :class => 'btn btn-default'
            = link_to 'Удалить', admin_therapeutic_service_path(therapeutic_service), :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-danger'

