.b-info {
  position: absolute;

  top: 1px;
  left: 217px; right: 0;

  height: 26px;

  font-size: 14px;

  div, a {
    float: left;
    line-height: 30px;
  }

  .b-info__address, .b-info__email, .b-info__map {
    padding-left: 24px;
  }

  .b-info__address {
    width: 294px;
    height: 26px;
    overflow: hidden;
    background: transparent url("/images/icons.png") no-repeat left top;
  }

  .b-info__email {
    width: 190px;
    background: transparent url("/images/icons.png") no-repeat left -45px;

    padding-left: 29px;
  }

  .b-info__map {
    width: 210px;
    background: transparent url("/images/icons.png") no-repeat left -23px;
  }

  .b-info__phone {
    float: right;

    width: 180px;

    text-align: right;

    margin-top: 3px;
  }
}

.b-info__phone {
  font-size: 24px;
  line-height: 150%;

  color: #2f393d;

  strong {
    color: #7e8d53;
    font-weight: normal;
  }
}