.b-nav {
  position: absolute;

  left: 124px;
  top: 116px;

  margin: 0; padding: 0;

  list-style: none;

  line-height: 125%;

  li {
    float: left;

    margin: 0; padding: 0;

    margin-left: 31px;
  }

  a {
    color: #2f393d;

    font-size: 14px;
  }
}