.b-search {
  display: inline-block;

  position: relative;

  width: 290px;

  .b-search__text {
    background: #fdfdfd;

    outline: none;

    border: 1px solid #80a276;
    border-radius: 16px;

    padding: 0 94px 0 14px;

    width: 179px;
    height: 31px;

    font-size: 14px;
  }

  .b-search__btn {
    position: absolute;

    right: 0;
    top: 0;

    font-size: 14px;

    padding-right: 30px;

    background: #7e8d53 url("../images/icons.png") no-repeat 60px -64px;

    &:hover {
      background-color: #606d3a;
    }
  }
}