.b-page__header
  h1= "Результаты поиска по запросу \"#{params[:q]}\" (всего #{@results.count} #{Russian.p(@results.count, "результат", "результата", "результатов")})"

.b-search-results
  - @results.each do |result|
    - raw_html = render inline: result.content_cache
    h2= link_to result.label, result.full_path
    ul
      li.b-search__item
        .b-search__excerpt= highlight(raw(excerpt(strip_tags(raw_html), params[:q], radius: 350)), params[:q], highlighter: '<b>\1</b>')
        a.b-search__link href="#{result.full_path}"= "www.#{request.host}#{result.full_path}"