= form.text_field :title, label: "Название"

div.form-group style="margin: 0 160px" 
  - Price::KINDS.each do |kind|
    = form.radio_button "kind", kind, label: t(kind)


= form.form_group :class => 'form-actions' do
  = form.submit "Создать", :class => 'btn btn-primary'