.page-header
  = link_to 'Услуги и цены', admin_service_prices_path, :class => 'btn btn-default pull-right'
  = link_to 'Новая категория', new_admin_price_path, :class => 'btn btn-default pull-right'
  %h2= 'Категории'

= paginate @prices, :theme => 'comfy'

%table.table.table-hover.table-bordered.nowrap_table
  %thead
    %tr
      %th.col-sm-2 Название
      %th.col-sm-2= sort_link @q, :kind, "Направление"
      %th.col-sm-2
  %tbody.sortable_table
    - @prices.each do |price|
      %tr{id: dom_id(price)}
        %td= price.title
        %td= t(price.kind)
        %td
          .btn-group.btn-group-sm
            = link_to 'Изменить', edit_admin_price_path(price), :class => 'btn btn-default'
            = link_to 'Удалить', admin_price_path(price), :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-danger'

= paginate @prices, :theme => 'comfy'