= render 'comfy/admin/cms/partials/navigation_before'

%ul.navigation
  
  - if @site && !@site.new_record?
    %li= active_link_to t('comfy.admin.cms.base.pages'), comfy_admin_cms_site_pages_path(@site)
    %li= active_link_to t('comfy.admin.cms.base.files'), comfy_admin_cms_site_files_path(@site)
    
  = cms_hook :navigation
    
  = render 'comfy/admin/cms/partials/navigation_inner'
    
= render 'comfy/admin/cms/partials/navigation_after'