= form.text_field :title, label: "Заголовок"
= form.file_field :image, label: "Изображение"

div.form-group style="margin: 0 160px"
  = image_tag @photo.image.url(:thumb) if @photo.image.exists?

= form.form_group :class => 'form-actions' do
  = form.submit "Сохранить", :class => 'btn btn-primary'