.page-header
  = link_to 'Новую картинку', new_admin_photo_path, :class => 'btn btn-default pull-right'
  %h2= 'ФотоГалерея'

= paginate @photos, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Изображение
      %th.main Заголовок
      %th
  %tbody.sortable_table
    - @photos.each do |photo|
      %tr{id: dom_id(photo)}
        %td= image_tag photo.image.url(:thumb)
        %td.main= photo.title
        %td
          .btn-group.btn-group-sm
            = link_to 'Изменить', edit_admin_photo_path(photo), :class => 'btn btn-default'
            = link_to 'Удалить', admin_photo_path(photo), :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-danger'

= paginate @photos, :theme => 'comfy'