= form.text_field :name, label: "Имя"
= form.text_field :email
= form.text_area :content, label: "Текст"

div.form-group style="margin: 0 160px" 
  - Review::KINDS.each do |kind|
    = form.radio_button "kind", kind, label: t(kind)

= form.text_field :url, label: "Ссылка из YouTube"

div.form-group style="margin: 0 160px"
  = form.check_box :published, label: "Опубликовать"

= form.text_field :tag_list, label: "Тэги", class: "tagList"

= form.form_group :class => 'form-actions' do
  = form.submit "Создать", :class => 'btn btn-primary'

javascript:
  $('.tagList').tagsinput();

  $('.tagList').typeahead({
    source: #{raw @tags.map(&:name)}
  });