.page-header
  = link_to 'Новый отзыв', new_admin_review_path, :class => 'btn btn-default pull-right'
  %h2= 'Отзывы'

= paginate @reviews, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th Имя
    %th Email
    %th.main Отзыв
    %th Тип
    %th Опубликовано
    %th Тэги
    %th
  - @reviews.each do |review|
    %tr
      %td= review.name
      %td= review.email
      %td.main= truncate review.content
      %td= t(review.kind)
      %td= review.published? ? "да" : "нет"
      %td= review.tags.map(&:name).join(' ')
      %td
        .btn-group.btn-group-sm
          = link_to 'Изменить', edit_admin_review_path(review), :class => 'btn btn-default'
          = link_to 'Удалить', admin_review_path(review), :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-danger'

= paginate @reviews, :theme => 'comfy'