= form.text_field :title, label: "Заголовок"
= form.text_field :content, label: "Содержание"
= form.text_field :url

div.form-group style="margin: 0 160px"
  = image_tag @slider.image.url(:thumb) if @slider.image.exists?

= form.file_field :image, label: "Изображение"
= form.form_group :class => 'form-actions' do
  = form.submit "Сохранить", :class => 'btn btn-primary'