.page-header
  = link_to 'Новый слайд', new_admin_slider_path, :class => 'btn btn-default pull-right'
  %h2= 'Слайдер'

= paginate @sliders, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Изображение
      %th.main Заголовок
      %th Текст
      %th Url
      %th
  %tbody.sortable_table
    - @sliders.each do |slider|
      %tr{id: dom_id(slider)}
        %td= image_tag slider.image.url(:thumb)
        %td.main= slider.title
        %td= slider.content
        %td= slider.url
        %td
          .btn-group.btn-group-sm
            = link_to 'Изменить', edit_admin_slider_path(slider), :class => 'btn btn-default'
            = link_to 'Удалить', admin_slider_path(slider), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= paginate @sliders, :theme => 'comfy'