.page-header
  %h2= 'Сообщения с формы обратной связи'

= paginate @feedbacks, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th Имя 
    %th Email
    %th Сообщение
    %th Дата
    %th
  - @feedbacks.each do |feedback|
    %tr
      %td= feedback.name
      %td= feedback.email
      %td= truncate feedback.message, length: 17
      %td= feedback.created_at.strftime("%d.%m.%Y %H:%M")
      %td
        .btn-group.btn-group-sm
          = link_to 'Просмотр', admin_feedback_path(feedback), :class => 'btn btn-default'
          = link_to 'Удалить', admin_feedback_path(feedback), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= paginate @feedbacks, :theme => 'comfy'