:css
  pre table td:nth-child(odd){
    padding-right: 10px;
    font-weight: bold;
  } 
.page-header
  %h2 Сообщение с формы обратной связи
%pre
  %table
    %tr
      %td Имя:
      %td= @feedback.name
    %tr
      %td Email:
      %td= @feedback.email
    %tr
      %td Сообщение:
      %td= @feedback.message
    %tr
      %td Дата:
      %td= @feedback.created_at.strftime("%d.%m.%Y %H:%M")