div class="#{service_class}"
  h2=services.label
  - if services.children.present?
    ul
      - services.children.each do |ch|
        li.b-service__item
          = link_to ch.full_path do
            span.b-icon__service class="b-icon__service#{service_icon+=1}"
            =ch.label
          - if ch.children.present? and (request.path == ch.full_path)
            ul.b-list
              - ch.children.each do |child|
                li
                  = link_to child.label, child.full_path