- if @therapeutic_categories.present?
  div class="b-service"
    h2=link_to "Лечебные услуги", type_services_path("therapeutic")
    ul
      - @therapeutic_categories.each do |category|
        li.b-service__item
          = link_to category_services_path(category.id) do
            span= image_tag(category.picktogram.url) if category.picktogram.exists?
            =category.label
          - if TherapeuticService.categorized_with(category).present? and session[:category] == category.id.to_s
            ul.b-list
              - TherapeuticService.categorized_with(category).each do |service|
                li
                  = link_to service.name, show_service_path(service.id, service.class.to_s, category: category.id)