.b-page__header
  h1 События
  ul
    li=link_to "Все", events_path
    -Event::MARKERS.each do |marker|
      li
        =link_to t(marker), marked_events_path(marker)

.l-row
  ul.b-block-events.b-events-grid
    -@events.each do |event|
      li
        .b-event
          =image_tag(event.image.url(:thumb), class: "b-event__author") if event.image.exists?
          .b_event_date=event.date.to_date.strftime("%d %m %Y")
          =link_to event.title, event_path(event), class: "b-event__title"
          p== event.content

  =paginate @events