= form.text_field :name, label: "Название"
= form.text_area :content, class: "wysiwyg", label: "Содержание"
= render :partial => 'comfy/admin/cms/categories/form', :object => form

= form.form_group :class => 'form-actions' do
  = form.submit "Сохранить", :class => 'btn btn-primary'