.page-header
  = link_to 'Новая услуга', new_admin_cosmetic_service_path, :class => 'btn btn-default pull-right'
  %h2= 'Косметические'

= render :partial => 'comfy/admin/cms/categories/index', :object => 'CosmeticService'
%table.table.table-hover.table-bordered
  %tr
    %th.col-sm-2 Название
    / %th.col-sm-2 Содержание
    %th.col-sm-2 Категории
    %th.col-sm-2
  %tbody{ class: ('sortable_table' if @category.nil?) }
    - @cosmetic_services.each do |cosmetic_service|
      %tr{id: dom_id(cosmetic_service)}
        %td= cosmetic_service.name
        / %td= raw(cosmetic_service.content[0..40])
        %td= cosmetic_service.categories.map(&:label).join(", ")
        %td
          .btn-group.btn-group-sm
            = link_to 'Изменить', edit_admin_cosmetic_service_path(cosmetic_service), :class => 'btn btn-default'
            = link_to 'Удалить', admin_cosmetic_service_path(cosmetic_service), :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-danger'

