.l-row
  ul.b-about-gallery
    - Photo.all.each do |photo|
      li
        = link_to photo.image.url, class: "fancybox", rel: 'gallery' do
          = image_tag photo.image.url(:medium)
        h2=photo.title