.b-page__header
  h1=@cms_page.label
  - if @subpages.children.present?
    ul
      li= link_to "О нас", @subpages.full_path, highlight_inline_active(@subpages.full_path)
      - @subpages.children.each do |child|
        li= link_to child.label, child.full_path, highlight_inline_active(child.full_path)

.b-page__content.b-page__content_margin
  = render inline: @cms_page.content_cache