= render inline: @cms_page.content_cache
| </div>

- if @slider.present?
  .b-services-gallery
    .l-container
      a.b-services-gallery__prev href="#"
      a.b-services-gallery__next href="#"
      .b-services-gallery__list
        ul
          - @slider.each do |slide|
            li.b-services-gallery__item
              =link_to slide.url do
                =image_tag slide.image.url(:medium)
                h3=slide.title
                =slide.content

.l-container
  .l-row
    .l-col-2.b-block-doctor
      .b-block-doctor__content
        == Settings.instance.word_of_wisdom
    
    =link_to "/about/videos" do
      .l-col-2.b-block-tv 
        span Посмотреть<br/> видео-ролики о нас


.l-container
  .l-row
    - if @questions.present?
      .l-col-2.b-block-questions
        h1.b-block__title
          | Вопрос- ответ
          = link_to "Посмотреть все", questions_path

        - @questions.each do |question|
          .b-question
            .b-question__title= question.name
              span= question.created_at.to_date.strftime("%d %m %Y")
            p=question.content
            .b-question__answer
              .b-question__title Ответ специалиста клиники:
              p=question.answer


    - if @events.present? 
      .l-col-2.b-block-events
        h1.b-block__title
          | События
          = link_to "Посмотреть все", events_path

        - @events.each do |event|
          .b-event
            =image_tag event.image.url(:thumb), class: "b-event__author"
            .b_event_date=event.date.to_date.strftime("%d %m %Y")
            =link_to event.title, event_path(event), class: "b-event__title"
            p=event.content
