.l-container
  .b-page__header
    h1 Специалисты клиники

  .l-row
    ul.b-doctors
      li
        img src="http://placehold.it/220x300"
        h2 Александр Николаевич Демин
        p Врач - невролог высшей  квалификационной категории
        .b-doctor__more
          a href="11-doctors.html" Подробнее о специалисте
      li
        img src="http://placehold.it/220x300"
        h2 Ольга Ивановна Покатилова
        p Врач - гинеколог квалификационной категории
        .b-doctor__more
          a href="11-doctors.html" Подробнее о специалисте
      li
        img src="http://placehold.it/220x300"
        h2 Ольга Ивановна Покатилова
        p Врач - гинеколог квалификационной категории
        .b-doctor__more
          a href="11-doctors.html" Подробнее о специалисте
      li
        img src="http://placehold.it/220x300"
        h2 Ольга Ивановна Покатилова
        p Врач - гинеколог квалификационной категории
        .b-doctor__more
          a href="11-doctors.html" Подробнее о специалисте
      li
        img src="http://placehold.it/220x300"
        h2 Ольга Ивановна Покатилова
        p Врач - гинеколог квалификационной категории
        .b-doctor__more
          a href="11-doctors.html" Подробнее о специалисте
      li
        img src="http://placehold.it/220x300"
        h2 Ольга Ивановна Покатилова
        p Врач - гинеколог квалификационной категории
        .b-doctor__more
          a href="11-doctors.html" Подробнее о специалисте
      li
        img src="http://placehold.it/220x300"
        h2 Ольга Ивановна Покатилова
        p Врач - гинеколог квалификационной категории
        .b-doctor__more
          a href="11-doctors.html" Подробнее о специалисте

  .l-row