.l-container
  .b-page__header
    h1 Специалисты клиники
    ul
      li
        a href="10-doctors.html" Все специалисты


  .b-doctor
    img src="http://placehold.it/380x505"
    h2 Александр Николаевич Демин

    table
      tr
        td.b-doctor__item Врач. категория:
        td врач – невролог высшей квалификационной категории.
      tr
        td.b-doctor__item Стаж работы:
        td 30 лет
      tr
        td.b-doctor__item Ведет прием по адресу:
        td г. Тверь, ул. Скворцова – Степанова 34
      tr
        td.b-doctor__item Образование:
        td окончил Калининский медицинский институт в 1983 г
      tr
        td.b-doctor__item Профессиональные <br>интересы:
        td кинезотерапия, остеопатия
      tr
        td.b-doctor__item Профессиональные <br>достижения и признания:
        td высшая категория, 30-летний стаж работы


  .l-row