.l-container
  .b-page__header
    h1 Контакты


  .b-page__content
    .b-contacts
      .b-contacts__address
        h2 «Клиника Медицина»

        ul.b-contacts__shedule
          li
            span
            | 9:00 — 19:00
          li
            span
            | 9:00 — 19:00
          li
            span
            | 9:00 — 19:00
          li
            span
            | 9:00 — 19:00
          li
            span
            | 9:00 — 19:00
          li.is-day-off
            span
            | 9:00 — 19:00
          li.is-day-off
            span
            | Выходной

        .b-info
          .b-info__address г.Тверь, ул.Скворцова-Степанова, д.34
          a.b-info__email href="#" klinikamedicinatver@mail.ru

        .b-contacts_phones.b-info__phone
          strong 8 (4822)
          |  31-32-31
          br
          strong 8 (980)
          |  625 03 03
          br
          strong 8 (952)
          |  064 42 42



      #map.b-contacts__map


    .b-contacts__form
      h2 Форма обратной связи
      form.b-form action="?" method="post"

        input.b-form__input.b-form__short.b-form__first  type="text" name="name" placeholder="Ваше имя"
        input.b-form__input.b-form__short  type="text" name="email" placeholder="Ваша электронная почта"

        textarea.b-form__input name="text" placeholder="Введите сюда ваше сообщение"

        .b-form__actions
          input.btn type="submit" value="Отправить сообщение"

javascript:
  var map;

  ymaps.ready(init);

  function init() {
    map = new ymaps.Map('map', {
      center: [55.76, 37.64],
      zoom: 10
    });

    var mark = new ymaps.Placemark(map.getCenter(), {}, {
      iconImageHref: '/images/marker.png',
      iconImageSize: [30, 42]
    });

    map.geoObjects.add(mark);
  }