.l-container
  .b-page__header
    h1
      | Цены на услуги
      '
      span.b-hint
        i Все цены указаны в рублях. <br>Все время указано в минутах.
    ul
      li
        a href="#" Все услуги
      li
        a href="#" Косметические услуги
      li
        a.is-active href="#" Лечебные услуги

  .b-box-taggable
    .b-box__title
      a href="#" Хирургия
      .b-box__toggle
    .b-box__content
      table
        tr
          td Массаж общий классический
          td.center 1 час 30 минут
          td.center 500
        tr
          td Лимфодренажный
          td.center 1 час 30 минут
          td.center 500
        tr
          td Эстетический аромамассаж
          td.center 30 минут
          td.center 500
        tr
          td Массаж спины
          td.center 30 минут
          td.center 500

  .b-box.b-box-taggable
    .b-box__title
      a href="#" Хирургия
      .b-box__toggle
    .b-box__content
      table
        tr
          td Массаж общий классический
          td.center 1 час 30 минут
          td.center 500
        tr
          td Лимфодренажный
          td.center 1 час 30 минут
          td.center 500
        tr
          td Эстетический аромамассаж
          td.center 30 минут
          td.center 500
        tr
          td Массаж спины
          td.center 30 минут
          td.center 500