.l-container
  .b-page__header
    h1 События
    ul
      li
        a href="#" Все
      li
        a href="#" Новости
      li
        a.is-active href="#" Статьи
      li
        a href="#" Акции и скидки


  .l-row
    ul.b-block-events.b-events-grid
      li
        .b-event
          img.b-event__author src="http://placehold.it/80x80"
          .b_event_date 1 апреля 2014
          a.b-event__title href="15-events.html" Мы приобрели препарат для прессотерапии нового поколения!
          p Во время процедуры на пациента надевают специальный костюм (для ног применяются специальные длинные сапоги, для живота и бедер — широкий пояс, для рук — длинные перчатки). Эластичные манжеты, подключенные к прибору воздухопроводами, оказывают на кожу, подкожно-жировую клетчатку, мышцы.
      li
        .b-event
          img.b-event__author src="http://placehold.it/80x80"
          .b_event_date 1 апреля 2014
          .b-event__title Прессотерапии нового поколения!
          p Бедер — широкий пояс, для рук — длинные перчатки). Эластичные манжеты, подключенные к прибору воздухопроводами, оказывают на кожу, подкожно-жировую клетчатку, мышцы.
      li
        .b-event
          img.b-event__author src="http://placehold.it/80x80"
          .b_event_date 1 апреля 2014
          .b-event__title Мы приобрели препарат для прессотерапии нового поколения!
          p Во время процедуры на пациента надевают. Эластичные манжеты, подключенные к прибору воздухопроводами, оказывают на кожу, подкожно-жировую клетчатку, мышцы.

      li
        .b-event
          img.b-event__author src="http://placehold.it/80x80"
          .b_event_date 1 апреля 2014
          .b-event__title Мы приобрели препарат!
          p Во время процедуры на пациента надевают специальный костюм (для ног применяются специальные длинные сапоги, для живота и бедер — широкий пояс, для рук — длинные перчатки). Эластичные манжеты, подключенные к прибору воздухопроводами, оказывают на кожу, подкожно-жировую клетчатку, мышцы.


      li
        .b-event
          img.b-event__author src="http://placehold.it/80x80"
          .b_event_date 1 апреля 2014
          .b-event__title Мы приобрели препарат для прессотерапии нового поколения!
          p Во время процедуры на пациента надевают специальный костюм (для ног применяются специальные длинные сапоги, для живота и бедер — широкий пояс, для рук — длинные перчатки). Эластичные манжеты, подключенные к прибору воздухопроводами, оказывают на кожу, подкожно-жировую клетчатку, мышцы.


      li
        .b-event
          img.b-event__author src="http://placehold.it/80x80"
          .b_event_date 1 апреля 2014
          .b-event__title Мы приобрели препарат для прессотерапии нового поколения!
          p Во время процедуры на пациента надевают специальный костюм (для ног применяются специальные длинные сапоги, для живота и бедер — широкий пояс, для рук — длинные перчатки). Эластичные манжеты, подключенные к прибору воздухопроводами, оказывают на кожу, подкожно-жировую клетчатку, мышцы.


      li
        .b-event
          img.b-event__author src="http://placehold.it/80x80"
          .b_event_date 1 апреля 2014
          .b-event__title Мы приобрели препарат для прессотерапии нового поколения!
          p Во время процедуры на пациента надевают специальный костюм (для ног применяются специальные длинные сапоги, для живота и бедер — широкий пояс, для рук — длинные перчатки). Эластичные манжеты, подключенные к прибору воздухопроводами, оказывают на кожу, подкожно-жировую клетчатку, мышцы.


  .l-row

  = partial 'pager'