.l-container
  .b-page__header
    h1 События
    ul
      li
        a href="#" Все
      li
        a href="#" Новости
      li
        a.is-active href="#" Статьи
      li
        a href="#" Акции и скидки

  .b-page-event__title
    .b-page-event__date 1 апреля 2014
    h2 Развитие геронтологии в Тверской области


  .b-page__content
    img.left src="http://placehold.it/380x300"
    p Геронтоло́гия (от др.-греч. γέρων — «старик» и λόγος — «знание, слово, учение») — наука, изучающая биологические, социальные и психологические аспекты старения человека, его причины и способы борьбы с ним (омоложение). Возникла около века назад. Составными частями геронтологии являются гериатрия - учение о болезнях, связанных с инволюционными изменениями, а также особенности лечения и профилактики заболеваний в пожилом и старческом возрасте, герогигиена, которая изучает вопросы общей и специальной гигиены людей старших возрастных групп и геронтопсихология, которая изучает психолого-поведенческие особенности людей пожилого и престарелого возраста.
    p Дело в том, что никто не хочет работать с пожилыми людьми, потому что работать с ними непросто. Однако, руководство клиники «Медицина» планирует выбрать геронтологию одним из профильных направлений в своей работе. Уже состоялся первый разговор с директором Санкт-Петербургского института биорегуляции и геронтологии Хавинсоном Владимиром Хацкелевичем. Профессор Хавинсон пригласил нас посетить клинический медицинский центр, работающий на базе института и ознакомится с организацией и технологией диагностического и лечебного процесса. Без сомнения он заинтересован в продвижении разработок института на территории России.


  = partial 'pager'