.l-container
  .b-page__header
    h1 О клинике
    ul
      li
        a href="#" О нас
      li
        a href="#" Фото клиники
      li
        a href="#" Видео о клинике
      li
        a href="#" Официальные документы
      li
        a.is-active href="16-devices.html" Оборудование

  .l-row
    .b-page__content
      ul.b-devices.b-devices-full
        li.b-devices__item
          img src="http://placehold.it/200x160"
          h2 Ultra-set
          p Многофункциональный мультичастотный ультразвуковой комбайн для лица и тела.
          ul
            li Снятие отеков
            li Активация процессов заживления
            li Выведение токсинов при ожогах тканей
            li Лечение воспалительных процессов

        li.b-devices__item
          img src="http://placehold.it/200x160"
          h2 Press G3
          p Специализированный аппарат прессотерапии для SPA и медицинских центров. Механическое разрушение жировых клеток и фиброзных спаек с помощью микроканюли. Окончательное разрушение жировых клеток в обрабатываемой области, благодаря воздействию импульсного низкочастотного ультразвукового излучения.