.l-container
  .b-page__header
    h1 О клинике
    ul
      li
        a.is-active href="2-about.html" О нас
      li
        a href="3-about.html" Фото клиники
      li
        a href="4-about.html" Видео о клинике
      li
        a href="#" Официальные документы
      li
        a href="16-devices.html" Оборудование

  .b-page__content.b-page__content_margin
    img.left src='images/pages/about.jpg'

    blockquote.right «Не может организм в целом быть здоровым,<br/> если его часть больна»— Гиппократ

    p При подходе к созданию Клиники МЕДИЦИНА мы длительное время искали какой фундамент заложить в основу клиники. И пришли к выводу, что следует исходить из принципа единой комплексной системы, обследования, диагностики, лечения, профилактики различных заболеваний и поддержания гармонии тела, что позволило бы нашим пациентам решать все проблемы со здоровьем и красотой в пределах одного лечебного учреждения.
    p Мы не скупились и не экономили при оснащении  современным оборудованием.  Клиника МЕДИЦИНА имеет диагностические и лечебные комплексы последнего поколения. Мы не имеем своей лаборатории, но по желанию пациента можем провести анализы в любой лаборатории присутствующей в Тверском регионе. Таким подходом, к оснащению клиники, мы гарантируем эффективное проведение диагностического и лечебного процесса.
    p С момента открытия Клиники МЕДИЦИНА сложился высокопрофессиональный коллектив врачей, имеющий огромный многолетний опыт работы по своей специальности. В клинике применяются эксклюзивные методики диагностики и лечения, разработанные самими врачами клиники, показавшие большую эффективность за длительные годы применения при лечении тех или иных заболеваниях.
    p Наряду с диагностическим и лечебным процессом при лечении различных заболеваниях, в Клинике МЕДИЦИНА широко представлены такие  направления как  косметологии и коррекция фигуры. Кабинеты оснащены, не будем скромничать, по последнему слову техники. Применяются, практически все методики представленные на рынке индустрии красоты.

    blockquote Мы стараемся придерживаться той идеологической линии, заложенной при создании клиники т.е. комплексный подход к развитию Клиники МЕДИЦИНА. Мы не останавливаемся на достигнутом.  Анализируя ситуацию и пожелания пациентов мы разрабатываем и ищем  новые направления в медицине и косметологии для удовлетворения вашего спроса.

