.l-container
  .b-page__header
    h1 О клинике
    ul
      li
        a href="2-about.html" О нас
        li
          a.is-active href="3-about.html" Фото клиники
        li
          a href="4-about.html" Видео о клинике
        li
          a href="#" Официальные документы
        li
          a href="16-devices.html" Оборудование

  .l-row
    ul.b-about-gallery
      li
        img src="http://placehold.it/300x260"
        h2 Холл клиники
      li
        img src="http://placehold.it/300x260"
        h2 Холл клиники
      li
        img src="http://placehold.it/300x260"
        h2 Холл клиники
      li
        img src="http://placehold.it/300x260"
        h2 Холл клиники

      li
        img src="http://placehold.it/300x260"
        h2 Холл клиники

      li
        img src="http://placehold.it/300x260"
        h2 Холл клиники

      li
        img src="http://placehold.it/300x260"
        h2 Холл клиники

  .l-row