.l-container
  .b-page__header
    h1 О клинике
    ul
      li
        a href="2-about.html" О нас
      li
        a href="3-about.html" Фото клиники
      li
        a.is-active href="4-about.html" Видео о клинике
      li
        a href="#" Официальные документы
      li
        a href="16-devices.html" Оборудование

  .l-row
    ul.b-about-video
      li
        <iframe width="640" height="360" src="//www.youtube.com/embed/xkKPWPW_fnE" frameborder="0" allowfullscreen></iframe>
        h2 Методы лечения гинекологических заболеваний
      li
        <iframe width="640" height="360" src="//www.youtube.com/embed/xkKPWPW_fnE" frameborder="0" allowfullscreen></iframe>
        h2 Методы лечения гинекологических заболеваний
      li
        <iframe width="640" height="360" src="//www.youtube.com/embed/xkKPWPW_fnE" frameborder="0" allowfullscreen></iframe>
        h2 Методы лечения гинекологических заболеваний
      li
        <iframe width="640" height="360" src="//www.youtube.com/embed/xkKPWPW_fnE" frameborder="0" allowfullscreen></iframe>
        h2 Методы лечения гинекологических заболеваний


  .l-row