.l-container
  .b-page_with_sidebar
    .b-page__sidebar
      h1 Услуги
      .b-service_cosmetic
        h2 Косметические услуги
        ul
          li.b-service__item
            a href="6-services.html"
              span.b-icon__service.b-icon__service1
              | Коррекция фигуры
          li.b-service__item
            a href="6-services.html"
              span.b-icon__service.b-icon__service2
              | Коррекция веса
          li.b-service__item
            a href="6-services.html"
              span.b-icon__service.b-icon__service3
              | Лицо
          li.b-service__item
            a href="6-services.html"
              span.b-icon__service.b-icon__service4
              | Тело

        .b-service
          h2 Лечебные услуги
          ul
            li.b-service__item
              a href="6-services.html"
                span.b-icon__service.b-icon__service5
                | Мужское здоровье
            li.b-service__item
              a href="6-services.html"
                span.b-icon__service.b-icon__service6
                | Женское здоровье
            li.b-service__item
              a href="6-services.html"
                span.b-icon__service.b-icon__service7
                | Реабилитация
            li.b-service__item
              a href="6-services.html"
                span.b-icon__service.b-icon__service8
                | Выезд на дом
            li.b-service__item
              a href="6-services.html"
                span.b-icon__service.b-icon__service9
                | Сбор анализов
    .b-page__content
      h2.b-page__title Услуги в нашей клинике
      p Клиника Медицина предлагает полный спектр услуг покосметологии, уходу за телом и лечебным процедурам. В нашей клинике вы можете попасть на прием к высококвалифицированным специалистам и врачам, пройти комплексы процедур по омоложению кожи, а так же сдать анализы и получить соответствующее лечение.
      p Мы постоянно расширяем список оказываемых процедур, закупаем новое оборудование, отправляем врачей на обучение и семинары.
      p &nbsp;
      p  У нас вы можете воспользоваться такими услугами:

      .l-row
        .l-col-2
          ul
            li Коррекция фигуры
            li Аппаратная косметология
            li Массаж лица и тела
            li Травматология
            li Омолаживающие процедуры

        .l-col-2
          ul
            li Забор анализов на дому
            li Реабилитация
            li Выезд на дом
            li Ударно-волновая терапия
            li Косметология


  .l-row