.l-container
  .b-page_with_sidebar
    .b-page__sidebar
      h1 Услуги
      .b-service_cosmetic
        h2 Косметические услуги
        ul
          li.b-service__item
            a href="#"
              span.b-icon__service.b-icon__service1
              | Коррекция фигуры
          li.b-service__item
            a href="#"
              span.b-icon__service.b-icon__service2
              | Коррекция веса
          li.b-service__item
            a href="#"
              span.b-icon__service.b-icon__service3
              | Лицо

            ul.b-list

              li
                a href="#" Контурная коррекция гиалуроновой кислотой
              li
                a href="#" Ботулинотерапия
              li
                a href="#" Мезотерапия
              li
                a href="#" Массаж лица, шеи, декольте
              li
                a href="#" Микротоковая терапия
              li
                a href="#" Химический пилинг
              li
                a href="#" Лечение угревой болезни


          li.b-service__item
            a href="#"
              span.b-icon__service.b-icon__service4
              | Тело

        .b-service
          h2 Лечебные услуги
          ul
            li.b-service__item
              a href="#"
                span.b-icon__service.b-icon__service5
                | Мужское здоровье
            li.b-service__item
              a href="#"
                span.b-icon__service.b-icon__service6
                | Женское здоровье
            li.b-service__item
              a href="#"
                span.b-icon__service.b-icon__service7
                | Реабилитация
            li.b-service__item
              a href="#"
                span.b-icon__service.b-icon__service8
                | Выезд на дом
            li.b-service__item
              a href="#"
                span.b-icon__service.b-icon__service9
                | Сбор анализов
    .b-page__content
      h2.b-content-title Ботулинотерапия

      p Ботулинотерапия — это косметологическая процедура сглаживания мимических морщин путем устранения или снижения их активности с помощью локальных инъекций препарата токсина ботулизма (Ботокс, Диспорт). При этом используются препараты на основе ботулотоксина типа А.
        Препарат вводится в мышцу, которая способствует образованию морщины и временно расслабляет ее, блокируянервно-мышечный импульс в месте инъекции. Эффект от инъекций видно уже на 5–7 день. В зависимости от индивидуальных особенностей время действия в среднем составляет от 4 до 6 месяцев. Инъекции ботулотоксина в области подмышечных впадин, ладоней и стоп способны временно блокировать или значительно снизить потоотделение в месте воздействия, другими словами служить для лечения гипергидроза.

      h2 Показания к применению препаратов с ботоксом / диспортом:

      ul
        li мимические морщины области лба, переносицы, внешнего угла глаза
        li коррекция формы бровей
        li асимметрия лица
        li коррекция нижней трети лица
        li гипергидроз (повышенное потоотделение)

      h2 Противопоказания для процедур ботулинотерапии:
      ul
        li миастении
        li генерализованные двигательные расстройства
        li беременность, кормление грудью
        li заболевания свертывающей системы крови
        li прием некоторых лекарственных средств
        li обострение хронических заболеваний

      h2 Прием ведет:
      .l-row
        ul.b-doctors.b-doctors-small
          li
            img src="http://placehold.it/100x140"
            h2 Александр Николаевич Демин
            p Врач - невролог высшей категории
            .b-doctor__more
              a href="11-doctors.html" Подробнее
          li
            img src="http://placehold.it/100x140"
            h2 Ольга Ивановна Покатилова
            p Врач - гинеколог квалификационной категории
            .b-doctor__more
              a href="11-doctors.html" Подробнее

      h2 Цены на услугу:

      table
        tr
          td Коррекция формы бровей
          td.center от 1500
        tr
          td Коррекция нижней трети лица
          td.center от 3000
        tr
          td Коррекция мимических морщин
          td.center от 3000

      h2 Оборудование:

      ul.b-devices
        li.b-devices__item
          img src="http://placehold.it/200x160"
          h2 Ultra-set
          p Многофункциональный мультичастотный ультразвуковой комбайн для лица и тела.

        li.b-devices__item
          img src="http://placehold.it/200x160"
          h2 Press G3
          p Специализированный аппарат прессотерапии для SPA и медицинских центров.

  .l-row