.l-container
  .b-page__header
    h1 Вопрос-ответ

  p Здесь вы можете задать любые интересующие вас вопросы и получить на них ответы специалистов нашей клиники.

  form.b-form.b-form_question action="?" method="post"
    input.b-form__input.b-form__short.b-form__first type="text" name="name" placeholder="Ваше имя"
    input.b-form__input.b-form__short type="text" name="email" placeholder="Ваша электронная почта"

    textarea.b-form__input name="text" placeholder="Введите сюда ваш вопрос"

    .b-form__actions
      input.btn type="submit" value="Задать вопрос"

  .l-row
    .l-col-220
      ul.b-tags__list
        li
          a.is-active href="#" Все теги
        li
          a href="#" Физиотерапия
        li
          a href="#" Травматология-ортопедия
        li
          a href="#" УЗИ
        li
          a href="#" Процедурный кабинет
        li
          a href="#" Косметология
        li
          a href="#" Коррекция фигуры
        li
          a href="#" LPG (вакуумно-роликовый массаж)
        li
          a href="#" Урология
        li
          a href="#" Миофасциальная терапия
        li
          a href="#" Кавитация
        li
          a href="#" Ударно-волновая терапия

    .l-col-700.b-questions
      h1.b-page__title Вопросы, с уже полученными ответами

      .b-question
        .b-question__title
          | Анастасия
          span 1 апреля 2014
        p Здравствуйте. Можно ли записаться на пару процедур косметичесикх услуг, а не на весь курс?
        .b-question__answer
          .b-question__title Ответ специалиста клиники:
          p Да, конечно. Не обязательно записываться на весь курс. Но мы рекомендуем нашим пациентам проходить весь курс оздоровительных процедур. Именно тогда эффект будет наиболее полноценным.
        .b-questions_tags
          ul
            li
              a href="#" Косметология
            li
              a href="#" LPG
            li
              a href="#" Пиллинг

      .b-question
        .b-question__title
          | Анастасия
          span 1 апреля 2014
        p К какому специалисту учше обратиться по поводу кисты? Нужно ли сдавать анализы на инфекцию еще раз, если  я уже сдавала их в областной больнице около полугода назад.
        .b-question__answer
          .b-question__title Ответ специалиста клиники:
          p Здравствуйте. Можно ли записаться на пару процедур косметичесикх услуг, а не на весь курс?

      .b-question
        .b-question__title
          | Анастасия
          span 1 апреля 2014
        p Здравствуйте. Можно ли записаться на пару процедур косметичесикх услуг, а не на весь курс?
        .b-question__answer
          .b-question__title Ответ специалиста клиники:
          p Да, конечно. Не обязательно записываться на весь курс. Но мы рекомендуем нашим пациентам проходить весь курс оздоровительных процедур. Именно тогда эффект будет наиболее полноценным.

      .b-question
        .b-question__title
          | Анастасия
          span 1 апреля 2014
        p Здравствуйте. Можно ли записаться на пару процедур косметичесикх услуг, а не на весь курс?
        .b-question__answer
          .b-question__title Ответ специалиста клиники:
          p Да, конечно. Не обязательно записываться на весь курс. Но мы рекомендуем нашим пациентам проходить весь курс оздоровительных процедур. Именно тогда эффект будет наиболее полноценным.

      = partial 'pager'
  .l-row