.l-container
  .b-page__header
    h1 Отзывы
    ul
      li
        a.is-active href="9-reviews.html" Все отзывы
      li
        a href="#" Письменные отзывы
      li
        a href="#" Видео отзывы
      li



  p Здесь вы можете оставить ваш отзыв об услугах клиники или о конкретном специалисте. Мы обязательно учтем все ваши пожелания и отзывы и сделаем все, что вы оставались довольны нашей работой.

  form.b-form action="?" method="post"

    input.b-form__input.b-form__short.b-form__first type="text" name="name" placeholder="Ваше имя"
    input.b-form__input.b-form__short type="text" name="email" placeholder="Ваша электронная почта"

    textarea.b-form__input name="text" placeholder="Введите сюда ваш отзыв"

    .b-form__actions
      input.btn type="submit" value="Оставить отзыв"

  .l-row
    .l-col-220
      ul.b-tags__list
        li
          a.is-active href="9-reviews.html" Все теги
        li
          a href="8-reviews.html" Физиотерапия
        li
          a href="8-reviews.html" Травматология-ортопедия
        li
          a href="8-reviews.html" УЗИ
        li
          a href="8-reviews.html" Процедурный кабинет
        li
          a href="8-reviews.html" Косметология
        li
          a href="8-reviews.html" Коррекция фигуры
        li
          a href="8-reviews.html" LPG (вакуумно-роликовый массаж)
        li
          a href="8-reviews.html" Урология
        li
          a href="8-reviews.html" Миофасциальная терапия
        li
          a href="8-reviews.html" Кавитация
        li
          a href="8-reviews.html" Ударно-волновая терапия

    .l-col-700.b-questions
      h2
        | Письменные отзывы
        span Всего <i>137</i> отзывов

      .b-question
        .b-question__title
          | Анастасия
          span 1 апреля 2014
        p Здравствуйте. Можно ли записаться на пару процедур косметичесикх услуг, а не на весь курс?
        .b-questions_tags
          ul
            li
              a href="#" Косметология
            li
              a href="#" LPG
            li
              a href="#" Пиллинг


      .b-question
        .b-question__title
          | Анастасия
          span 1 апреля 2014
        p Здравствуйте. Можно ли записаться на пару процедур косметичесикх услуг, а не на весь курс?
        .b-questions_tags
          ul
            li
              a href="#" Косметология
            li
              a href="#" LPG
            li
              a href="#" Пиллинг

      .b-question
        .b-question__title
          | Анастасия
          span 1 апреля 2014
        p Здравствуйте. Можно ли записаться на пару процедур косметичесикх услуг, а не на весь курс?
        .b-questions_tags
          ul
            li
              a href="#" Косметология
            li
              a href="#" LPG
            li
              a href="#" Пиллинг


      h2
        | Видео отзывы
        span Всего <i>137</i> отзывов

      ul.b-videos
        li
          <iframe width="640" height="360" src="//www.youtube.com/embed/xkKPWPW_fnE" frameborder="0" allowfullscreen></iframe>
          .b-questions_tags
            ul
              li
                a href="#" Косметология
              li
                a href="#" LPG
              li
                a href="#" Пиллинг
        li
          <iframe width="640" height="360" src="//www.youtube.com/embed/xkKPWPW_fnE" frameborder="0" allowfullscreen></iframe>
          .b-questions_tags
            ul
              li
                a href="#" Пиллинг

      h2
        | Благодарственные письма
        span Всего <i>137</i> писем

      .l-row
        ul.b-letters
          li
            a.colorbox href="http://placehold.it/800x600"
              img src="http://placehold.it/220x310"
          li
            a.colorbox href="http://placehold.it/800x600"
              img src="http://placehold.it/220x310"
          li
            a.colorbox href="http://placehold.it/800x600"
              img src="http://placehold.it/220x310"



  .l-row