.b-pagination
  a.b-pagination__prev href="#" &lt;
  a.b-pagination__item href="#" 1
  span.b-pagination__item 2
  a.b-pagination__item href="#" 3
  a.b-pagination__item href="#" 4
  a.b-pagination__item href="#" 5
  a.b-pagination__item href="#" 6
  a.b-pagination__item href="#" 7
  a.b-pagination__next href="#" &gt;

