.l-container
  .b-page__header
    h1 Заголовок раздела
    ul
      li
        a.is-active href="#" Подраздел1
      li
        a href="#" Подраздел2
      li
        a href="#" Подраздел3
      li
        a href="#" Подраздел4
      li
        a href="#" Подраздел5

  .b-page__content
    h1 Заголовок первого уровня
    p <strong>Ботулинотерапия</strong> — это косметологическая процедура сглаживания мимических морщин путем устранения или снижения их активности с помощью локальных инъекций препарата токсина ботулизма (Ботокс, Диспорт). При этом используются препараты на основе ботулотоксина типа А. Препарат вводится в мышцу, которая способствует образованию морщины и временно расслабляет ее, блокируянервно-мышечный импульс в месте инъекции. Эффект от инъекций видно уже на 5–7 день. В зависимости от индивидуальных особенностей время действия в среднем составляет от 4 до 6 месяцев. Инъекции ботулотоксина в области подмышечных впадин, ладоней и стоп способны временно блокировать или значительно снизить потоотделение в месте воздействия, другими словами служить для лечения гипергидроза.

    h2 Заголовок второго уровня
    p <strong>Ботулинотерапия</strong> — это косметологическая процедура сглаживания мимических морщин путем устранения или снижения их активности с помощью локальных инъекций препарата токсина ботулизма (Ботокс, Диспорт). При этом используются препараты на основе ботулотоксина типа А. Препарат вводится в мышцу, которая способствует образованию морщины и временно расслабляет ее, блокируянервно-мышечный импульс в месте инъекции. Эффект от инъекций видно уже на 5–7 день. В зависимости от индивидуальных особенностей время действия в среднем составляет от 4 до 6 месяцев. Инъекции ботулотоксина в области подмышечных впадин, ладоней и стоп способны временно блокировать или значительно снизить потоотделение в месте воздействия, другими словами служить для лечения гипергидроза.

    table
      tr
        td Массаж общий классический
        td.center 1 час 30 минут
        td.center 500
      tr
        td Лимфодренажный
        td.center 1 час 30 минут
        td.center 500
      tr
        td Эстетический аромамассаж
        td.center 30 минут
        td.center 500
      tr
        td Массаж спины
        td.center 30 минут
        td.center 500

    h2 Заголовок второго уровня

    .l-row
      .l-col-2
        ul
          li мимические морщины области лба
          li коррекция формы бровей
          li асимметрия лица
          li коррекция нижней трети лица
          li гипергидроз
      .l-col-2
        ol
          li мимические морщины области лба
          li коррекция формы бровей
          li асимметрия лица
          li коррекция нижней трети лица
          li гипергидроз

    h2 Таблица

    .b-box
      table
        tr
          td Массаж общий классический
          td.center 1 час 30 минут
          td.center 500
        tr
          td Лимфодренажный
          td.center 1 час 30 минут
          td.center 500
        tr
          td Эстетический аромамассаж
          td.center 30 минут
          td.center 500
        tr
          td Массаж спины
          td.center 30 минут
          td.center 500

    .b-box-taggable
      .b-box__title
        a href="#" Увлажняющая процедура для сухой
        .b-box__toggle
      .b-box__content
        table
          tr
            td Массаж общий классический
            td.center 1 час 30 минут
            td.center 500
          tr
            td Лимфодренажный
            td.center 1 час 30 минут
            td.center 500
          tr
            td Эстетический аромамассаж
            td.center 30 минут
            td.center 500
          tr
            td Массаж спины
            td.center 30 минут
            td.center 500

    .b-box-taggable.is-active
      .b-box__title
        a href="#" Увлажняющая процедура для сухой (чувствительной) кожи «Живительная влага» от 1690 рублей
        .b-box__toggle
      .b-box__content
        ol
          li Молочко очищающее (KLAPP)
          li Энзимный пилинг <br>(KLAPP) (фазу глубокого очищения можно дополнить проведением УЗ -пилинга)
          li Тоник увлажняющий ориганик (KLAPP)
          li Маска – гидрафлеш (KLAPP)
          li Массаж на восстанавливающей массажной маске (KLAPP)
          li
            | Завершение ухода – финальный крем по выбору:
            ul
              li крем – концентрат  immun
              li лифтинг крем extreme
              li восстанавливающий крем с камелией китайской.

        blockquote
          p По желанию уход можно дополнить использованием сыворотки или ампульного концентрата (увлажняющего, лифтингового и т.п.)
          p
            b
              i Процедура обеспечивает мягкое глубокое очищение кожи с последующим интенсивным увлажнением как поверхностных, так и глубоких слоев кожи.
          p
            b
              i Нормализуется водно - минеральный баланс кожи лица, шеи, декольте. Кожа необыкновенно увлажненная, сияющая, разглаженная

    blockquote
      p По желанию уход можно дополнить использованием сыворотки или ампульного концентрата (увлажняющего, лифтингового и т.п.)
      p
        b
          i Процедура обеспечивает мягкое глубокое очищение кожи с последующим интенсивным увлажнением как поверхностных, так и глубоких слоев кожи.
      p
        b
          i Нормализуется водно - минеральный баланс кожи лица, шеи, декольте. Кожа необыкновенно увлажненная, сияющая, разглаженная

    blockquote.right По желанию уход можно дополнить использованием сыворотки или ампульного концентрата (увлажняющего, лифтингового и т.п.)


  = partial "pager"
  = partial "pagination"