.l-container
  .b-services
    h1 Клиника «МЕДИЦИНА» г. Тверь
    p.b-services__text Мы работаем по принципу единой комплексной системы, обследований, диагностики, лечения, профилактики различных заболеваний и поддержания гармонии тела, что позволиляет нашим пациентам решать все проблемы со здоровьем и красотой в пределах<br/> одного лечебного учреждения.

    .b-service_cosmetic
      h2 Косметические услуги
      ul
        li
          a href="#"
            span.b-icon__service.b-icon__service1
            | Коррекция фигуры
        li
          a href="#"
            span.b-icon__service.b-icon__service2
            | Коррекция веса
        li
          a href="#"
            span.b-icon__service.b-icon__service3
            | Лицо
        li
          a href="#"
            span.b-icon__service.b-icon__service4
            | Тело

    .b-service
      h2 Лечебные услуги
      ul
        li
          a href="#"
            span.b-icon__service.b-icon__service5
            | Мужское здоровье
        li
          a href="#"
            span.b-icon__service.b-icon__service6
            | Женское здоровье
        li
          a href="#"
            span.b-icon__service.b-icon__service7
            | Реабилитация
        li
          a href="#"
            span.b-icon__service.b-icon__service8
            | Выезд на дом
        li
          a href="#"
            span.b-icon__service.b-icon__service9
            | Сбор анализов

      a.btn.btn_big.b-service__button href="#" Посмотреть все услуги


.b-services-gallery
  .l-container
    a.b-services-gallery__prev href="#"
    a.b-services-gallery__next href="#"
    .b-services-gallery__list
      ul
        li.b-services-gallery__item
          a href="#"
            img src="http://placehold.it/198x198"
          h3
            a href="#" Ультазвуковая липосакция
          p Лишний вес и целлюлит – это, пожалуй, главные враги любой женщины. Избавиться от лишних сантиметров и надолго сохранить результат поможет кавитация – ультразвуковая липосакция.

        li.b-services-gallery__item
          a href="#"
            img src="http://placehold.it/198x198"
            .b-label
              b %
              | скидка
          h3
            a href="#" Лимфодренажная прессотерапия
          p Механический лимфодренаж, воздействие на лимфатическую систему сжатым воздухом, подаваемым через специальные манжеты.

        li.b-services-gallery__item
          a href="#"
            img src="http://placehold.it/198x198"
          h3
            a href="#" Диагностика с доплерографией
          p Совокупность методов ультразвуковой диагностики, основанных на так называемом эффекте Доплера — изменении частоты ультразвуковых волн, отраженных от движущихся частиц крови.

        li.b-services-gallery__item
          a href="#"
            img src="http://placehold.it/198x198"
            .b-label новая услуга
          h3
            a href="#" Контурная коррекция гиалуроновой кислотой
          p Популярность нерадикальных методов естественной коррекции возрастает с каждым годом. Стремление выглядеть молодо становится современным требованием общества к успешному человеку.
        li.b-services-gallery__item
          a href="#"
            img src="http://placehold.it/198x198"
          h3
            a href="#" Контурная коррекция гиалуроновой кислотой
          p Популярность нерадикальных методов естественной коррекции возрастает с каждым годом. Стремление выглядеть молодо становится современным требованием общества к успешному человеку.
        li.b-services-gallery__item
          a href="#"
            img src="http://placehold.it/198x198"
          h3
            a href="#" Контурная коррекция гиалуроновой кислотой
          p Популярность нерадикальных методов естественной коррекции возрастает с каждым годом. Стремление выглядеть молодо становится современным требованием общества к успешному человеку.
        li.b-services-gallery__item
          a href="#"
            img src="http://placehold.it/198x198"
          h3
            a href="#" Контурная коррекция гиалуроновой кислотой
          p Популярность нерадикальных методов естественной коррекции возрастает с каждым годом. Стремление выглядеть молодо становится современным требованием общества к успешному человеку.


.l-container
  .l-row
    .l-col-2.b-block-doctor
      .b-block-doctor__content
        img src="images/home/doctor.jpg"
        h1 Восстановление и реабилитация в Твери
        p Что делать, если появляются проблемы со здоровьем? Куда пойти со своей бедой? В тех случаях, когда ваше состояние даёт сбои нужно искать не лечебное учреждение, а «своего» врача. Из практики известно, когда появляется взаимопонимание между пациентом и врачом, вера пациента во врача, результаты лечения на порядок выше. Как искать «своего» врача? Надеемся  и верим, что свой  поиск  вы завершите в КЛИНИКЕ МЕДИЦИНА. А нам есть, что вам предложить!
        p
          i — Главный врач клиники "Медицина" Владимир Ямской

    .l-col-2.b-block-tv
      a href="#" Посмотреть<br/> видео-ролики о нас

.l-container
  .l-row
    .l-col-2.b-block-questions
      h1.b-block__title
        | Вопрос- ответ
        a href="#" Посмотреть все

      .b-question
        .b-question__title
          | Анастасия
          span 1 апреля 2014
        p Здравствуйте. Можно ли записаться на пару процедур косметичесикх услуг, а не на весь курс?
        .b-question__answer
          .b-question__title Ответ специалиста клиники:
          p Да, конечно. Не обязательно записываться на весь курс. Но мы рекомендуем нашим пациентам проходить весь курс оздоровительных процедур. Именно тогда эффект будет наиболее полноценным.

      .b-question
        .b-question__title
          | Анастасия
          span 1 апреля 2014
        p К какому специалисту учше обратиться по поводу кисты? Нужно ли сдавать анализы на инфекцию еще раз, если  я уже сдавала их в областной больнице около полугода назад.
        .b-question__answer
          .b-question__title Ответ специалиста клиники:
          p Здравствуйте. Можно ли записаться на пару процедур косметичесикх услуг, а не на весь курс?

      .b-question
        .b-question__title
          | Анастасия
          span 1 апреля 2014
        p Здравствуйте. Можно ли записаться на пару процедур косметичесикх услуг, а не на весь курс?
        .b-question__answer
          .b-question__title Ответ специалиста клиники:
          p Да, конечно. Не обязательно записываться на весь курс. Но мы рекомендуем нашим пациентам проходить весь курс оздоровительных процедур. Именно тогда эффект будет наиболее полноценным.

      .b-question
        .b-question__title
          | Анастасия
          span 1 апреля 2014
        p Здравствуйте. Можно ли записаться на пару процедур косметичесикх услуг, а не на весь курс?
        .b-question__answer
          .b-question__title Ответ специалиста клиники:
          p Да, конечно. Не обязательно записываться на весь курс. Но мы рекомендуем нашим пациентам проходить весь курс оздоровительных процедур. Именно тогда эффект будет наиболее полноценным.


    .l-col-2.b-block-events
      h1.b-block__title
        | События
        a href="#" Посмотреть все

      .b-event
        img.b-event__author src="http://placehold.it/80x80"
        .b_event_date 1 апреля 2014
        .b-event__title Мы приобрели препарат для прессотерапии нового поколения!
        p Во время процедуры на пациента надевают специальный костюм (для ног применяются специальные длинные сапоги, для живота и бедер — широкий пояс, для рук — длинные перчатки). Эластичные манжеты, подключенные к прибору воздухопроводами, оказывают на кожу, подкожно-жировую клетчатку, мышцы.

      .b-event
        img.b-event__author src="http://placehold.it/80x80"
        .b_event_date 1 апреля 2014
        .b-event__title Мы приобрели препарат для прессотерапии нового поколения!
        p Во время процедуры на пациента надевают специальный костюм (для ног применяются специальные длинные сапоги, для живота и бедер — широкий пояс, для рук — длинные перчатки). Эластичные манжеты, подключенные к прибору воздухопроводами, оказывают на кожу, подкожно-жировую клетчатку, мышцы.

      .b-event
        img.b-event__author src="http://placehold.it/80x80"
        .b_event_date 1 апреля 2014
        .b-event__title Мы приобрели препарат для прессотерапии нового поколения!
        p Во время процедуры на пациента надевают специальный костюм (для ног применяются специальные длинные сапоги, для живота и бедер — широкий пояс, для рук — длинные перчатки). Эластичные манжеты, подключенные к прибору воздухопроводами, оказывают на кожу, подкожно-жировую клетчатку, мышцы.


  .l-row