.l-container
  ul
    li
      a href="index.html" template1
    li
      a href="2-about.html" template2
    li
      a href="3-about.html" template3
    li
      a href="4-about.html" template4
    li
      a href="5-services.html" template5
    li
      a href="6-services.html" template6
    li
      a href="7-questions.html" template7
    li
      a href="8-reviews.html" template8
    li
      a href="9-reviews.html" template9
    li
      a href="10-doctors.html" template10
    li
      a href="11-doctors.html" template11
    li
      a href="12-contacts.html" template12
    li
      a href="13-prices.html" template13
    li
      a href="14-events.html" template14
    li
      a href="15-events.html" template15
    li
      a href="16-devices.html" template16
    li
      a href="example.html" examples