body {
  background: #faf3e4 url("../images/background.jpg");

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

  font-size: 16px;
  line-height: 125%;

  color: #2f393d;
}

a {
  color: #475d41;

  &.is-active {
    border: none !important;
    text-decoration: none;
  }
}

h1, h2, h3 {
  color: #475d41;
}

h1 {
  font-style: italic;

  font-size: 24px;
  margin: 14px 0;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;

  margin: 32px 0 10px 0;
}

p {
  margin: 0 0 16px 0;
}

ul {
  list-style-image: url('../images/bullet.png');
  list-style-position: outside;
}

ul, ol {
  margin: 0 0 16px 0;
  padding: 0 0 0 16px;

  li > * {
    line-height: 125%;
  }
}

ul > li, ol > li {
  line-height: 170%;
}

ol {
  list-style: none;
  list-style-position: inside;

  margin-left: 18px;

  & > li {
    counter-increment: list;

    position: relative;
  }

  & > li:before {
    position: absolute;

    left: -18px;

    content: counter(list) ". ";

    color: #7e8d53;
    font-weight: bold;
  }
}

table {
  border: 1px solid #f5e0b0;

  width: 100%;

  border-collapse: collapse;

  margin: 24px 0 16px 0;

  td {
    border: 1px solid #f5e0b0;

    padding: 10px 18px 9px 18px;

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  tr:nth-child(odd) td {
    background-color: #fcf9f0
  }

  tr:nth-child(even) td {
    background-color: #fffdf8
  }
}

.b-prev-next {
  height: 22px;
  margin: 22px 0;

  a, span {
    display: block;

    text-decoration: none;

    height: 18px;
    width: 132px;

    background: transparent url("../images/icons.png") left -142px;
  }

  span {
    opacity: 0.5;
  }

  .b-prev__item {
    float: left;

    background-position: left -164px;
  }

  .b-next__item {
    float: right;
  }
}

.b-pagination {
  height: 22px;
  margin: 22px 0;

  text-align: center;

  a, span {
    display: inline-block;

    width: 38px;
    height: 38px;

    border-radius: 19px;

    text-decoration: none;

    font-size: 18px;
    font-style: italic;
    font-weight: bold;

    line-height: 38px;
  }

  span {
    color: #ffffff;

    background: #475d41;
  }
}

.b-hint {
  position: relative;
  display: inline-block;
  background: transparent url("../images/icons.png") left -184px;

  width: 16px;
  height: 16px;

  cursor: pointer;

  i {
    display: none;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
    background: #ffffff;

    width: 230px;

    padding: 6px 12px;

    position: absolute;

    left: 26px;
    top: -18px;

    box-shadow: 1px 1px 5px 0px rgba(74, 54, 21, 0.25);
  }

  &:hover {
    i {
      display: block;
    }
  }
}

.b-hint i {
  position: absolute;
  background: #fffdf8;
  border: 1px solid #f5e0b0;
  border-radius: 3px;
}
.b-hint i:after, .b-hint i:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.b-hint i:after {
  border-color: rgba(255, 253, 248, 0);
  border-right-color: #fffdf8;
  border-width: 3px;
  margin-top: -3px;
}
.b-hint i:before {
  border-color: rgba(245, 224, 176, 0);
  border-right-color: #f5e0b0;
  border-width: 4px;
  margin-top: -4px;
}

.pull-right {
  float: right;
}