.b-box, .b-box__content {
  padding: 14px 14px 0 14px;
}

.b-box, .b-box-taggable {
  border: 1px solid #f5e0b0;
  border-radius: 4px;

  background: #fffdf8;

  margin-bottom: 20px;

  blockquote {
    background-color: #fcf9f0;

    border: 1px solid #f5e0b0;
    border-radius: 4px;

    color: #2f393d;

    font-size: 16px;
    font-style: normal;
    font-weight: normal;

    line-height: 20px;

    padding: 18px 20px 2px 20px;
  }

  &.is-active {
    .b-box__content {
      display: block;
    }

    .b-box__toggle {
      background-position: 2px -114px;
    }
  }
}

.b-box-taggable {
  padding: 0 !important;
  .b-box__content {
    display: none;
  }
}

.b-box__title {
  position: relative;

  padding: 10px 46px 10px 18px;

  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  line-height: 22px;

  a {
    color: #475d41;
    text-decoration: none;
    border-bottom: 1px dashed #475d41;
  }
}

.b-box__toggle {
  position: absolute;

  right: 14px;
  top: 10px;

  width: 24px;
  height: 24px;

  border-radius: 12px;

  background: #7e8d53 url('../images/icons.png') no-repeat 2px -88px;

  cursor: pointer;

  &:hover {
    background-color: #606d3a;
  }
}