.btn {
  display: inline-block;

  height: 33px;
  padding: 0 18px;

  border: 0;
  border-radius: 16px;

  font-size: 16px;
  line-height: 33px;
  text-decoration: none;
  color: white;

  background: #7e8d53;

  &:hover {
    background: #606d3a;
  }

  &.btn-fixed {
    padding: 0;
    width: 160px;

    text-align: center;
  }

  &.pull-right {
    float: right;
    display: block;
    margin: 0 !important;
  }
}

.btn_big {
  border-radius: 21px;
  height: 42px;
  line-height: 42px;
}