.b-form {
  margin-bottom: 20px;
}

.b-form__input {
  display: block;

  height: 16px;
  line-height: 16px;

  border: 2px solid #e5e6d6;
  border-radius: 4px;

  font-size: 16px;
  font-style: italic;

  color: #7e8063;

  padding: 10px 12px;

  margin-bottom: 30px;
}

textarea.b-form__input {
  display: block;

  height: 76px;

  width: 910px;
}

.b-form__short {
  float: left;

  width: 426px;
}

.b-form__first {
  margin-right: 30px;
}

.b-form__actions {
  text-align: right;
}