//= require_tree ./_header

.b-header {
  position: relative;

  width: 940px;
  height: 172px;

  margin: 18px auto 0 auto;

  clear: both;

  .b-header__logo {
    background: transparent url("/images/logo.png") no-repeat left top;

    display: block;

    width: 121px;
    height: 137px;

    margin: 0 30px 0 6px;

    float: left;
  }

  .b-controls {
    position: absolute;

    left: 209px;
    top: 54px;
    right: 0;

    .btn {
      margin-left: 60px;
    }
  }
}

