.l-container {
  width: 940px;

  margin: 0 auto;
}

.l-row {
  margin: 0 -10px;

  clear: both;
}

.l-col-2 {
  float: left;
  margin: 0 10px;
  width: 460px;
}

.b-page_with_sidebar {
  .l-col-2 {
    width: 300px;
  }
}


.l-col-220 {
  float: left;
  width: 220px;
  margin: 0 10px;
}

.l-col-700 {
  float: left;
  width: 700px;
  margin: 0 10px;
}