- category ||= edit

= form_for @category, :html => { :multipart => true }, :as => :category, :url => comfy_admin_cms_site_category_path(@site, category), :remote => true, :html => {:id => dom_id(category)} do |form|
  .input-append
    %p
      = form.text_field :label, class: 'form-control'
    %p
      = image_tag @category.picktogram.url(:thumb) if @category.picktogram.exists?
      = form.file_field :picktogram, style: "display: inline"

    %p
      = form.text_area :description, class: "wysiwyg", :"data-cms-rich-text" => ""

    %p
      Позиция:
      = form.text_field :position, class: 'form-control'
    %button.btn.btn-mini= t('.save')