- type ||= index

.categories-widget
  .categories-widget-label= t('.label')
  
  .action-links
    .edit= link_to 'Редактировать', '#', :class => 'btn btn-default btn-sm'
    .done= link_to 'Прекратить редактирование', '#', :class => 'btn btn-default btn-sm'
  
  .categories.read
    .items
      .category.all{:class => params[:category].blank?? 'active' : nil}
        = link_to t('.all'), :category => nil
      - @site.categories.of_type(type).each do |category|
        = render partial: 'comfy/admin/cms/categories/show', object: category, locals: { read: true }
    


  .categories.editable{ style: 'position: relative;'}
    .items
      - @site.categories.of_type(type).each do |category|
        = render :partial => 'comfy/admin/cms/categories/show', :object => category
    .category.add.action-links{style: 'position: absolute; right: 0px; top: 0px;'}
      = link_to '#', class: 'js__show_form' do
        .glyphicon.glyphicon-plus

    .category-edit-form

    .category-new-form{style: 'display: none'}
      = form_for :category, :html => { :multipart => true }, :url => comfy_admin_cms_site_categories_path(@site), :remote => true, :html => {:id => 'new_category'} do |form|
        = form.hidden_field :categorized_type, :value => type
        %p
          = form.text_field :label, class: 'form-control'
        %p
          = form.file_field :picktogram, style: "display: inline"

        %p
          = form.text_area :description, class: "wysiwyg", :"data-cms-rich-text" => ""

        %p
          Позиция:
          = form.text_field :position, class: 'form-control'
        %button.btn.btn-primary= t('.add')