- category ||= show
- read ||= false
- categories = [params[:category]].flatten.compact
- active = categories.flatten.member?(category.label)

.category{:class => (read && active ? 'active' : nil), :id => dom_id(category)}
  - if read
    / - categories = active ? categories.reject{|c| c == category.label} : categories << category.label
    = link_to "?#{{:category => category.id}.to_param}" do
      = category.label
      = image_tag category.picktogram.url(:thumb)

  - else
    = link_to category.label, edit_comfy_admin_cms_site_category_path(@site, category), :remote => true
    = image_tag category.picktogram.url(:thumb)
    = link_to comfy_admin_cms_site_category_path(@site, category), :method => :delete, :remote => true, :data => {:confirm => t('.are_you_sure')}, :class => 'delete' do
      %i.glyphicon.glyphicon-remove-circle