$('<%= escape_javascript(render :partial => "show", :object => @category ) %>').appendTo('.categories-widget .categories.editable .items');

$('<%= escape_javascript(render :partial => "show", :object => @category, :locals => { :read => true }) %>').appendTo('.categories-widget .categories.read .items');

$('.categories-widget .categories.editable form#new_category input#category_label').val('');

$('.category-new-form').hide();