$('.categories.editable .category#<%= dom_id(@category) %>').replaceWith(
  '<%= escape_javascript(render :partial => "show", :object => @category ) %>'
);
$('.categories.read .category#<%= dom_id(@category) %>').replaceWith(
  '<%= escape_javascript(render :partial => "show", :object => @category, :locals => { :read => true } ) %>'
);

$('.categories.editable .category-edit-form').html('');