/* Overwrite this file in your application /app/assets/stylesheets/comfortable_mexican_sofa/admin/application.css 

*= require comfortable_mexican_sofa/admin/bootstrap-tagsinput
*/
.sortable_table tr {
  cursor: ns-resize; 
}

.category-edit-form, .category-new-form {
    margin-top: 16px;
}
