//= require ./_normalize
//= require ./_base
//= require ./_layout
//= require ./_buttons
//= require ./_forms
//= require ./_icons
//= require ./_boxes
//= require ./_page
//= require ./_header
//= require ./_footer
//= require ./jquery.fancybox
//= require ./style
//= require ./quick_fix
//= require_tree ./_pages
//= require_self

.mce-content-body {
  .b-box-taggable {
    .b-box__content {
      display: block;
    }
  }
}