= form.text_field :name, label: "Имя"
= form.text_field :email, label: "Email"
= form.text_area :content, label: "Содержание"
= form.text_area :answer, label: "Ответ"

div.form-group style="margin: 0 160px"
  = form.check_box :published, label: "Опубликовать"

= form.text_field :tag_list, label: "Тэги", class: "tagList"

= form.form_group :class => 'form-actions' do
  = form.submit "Создать", :class => 'btn btn-primary'

javascript:
  $('.tagList').tagsinput();

  $('.tagList').typeahead({
    source: #{raw @tags.map(&:name)}
  });