.page-header
  = link_to 'Новый вопрос', new_admin_question_path, :class => 'btn btn-default pull-right'
  %h2= 'Вопросы'

= paginate @questions, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th.main Имя
    %th Email
    %th Вопрос
    %th Опубликовано
    %th Тэги
    %th
  - @questions.each do |question|
    %tr
      %td.main= question.name
      %td= question.email
      %td= question.content
      %td= question.published ? "Да" : "Нет"
      %td= question.tags.map(&:name).join(' ')
      %td
        .btn-group.btn-group-sm
          = link_to 'Изменить', edit_admin_question_path(question), :class => 'btn btn-default'
          = link_to 'Удалить', admin_question_path(question), :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-danger'

= paginate @questions, :theme => 'comfy'