== paginator.render do
  nav.pagination
    == prev_page_tag
    - each_page do |page|
      - if page.left_outer? || page.right_outer? || page.inside_window?
        | &nbsp;
        == page_tag page
      /- elsif !page.was_truncated?
      /  == gap_tag
    | &nbsp;
    == next_page_tag