
%li= active_link_to 'Услуги', admin_services_index_path

%li= active_link_to 'Цены', admin_service_prices_path

%li= active_link_to 'Акции и скидки', admin_sliders_path

%li= active_link_to 'Специалисты', admin_experts_path

%li= active_link_to 'Вопросы', admin_questions_path

%li= active_link_to 'События', admin_events_path

%li= active_link_to 'Отзывы', admin_reviews_path

%li= active_link_to 'Фото клиники', admin_photos_path

%li= active_link_to 'Видео клиники', admin_videos_path

%li= active_link_to 'Обратная связь', admin_feedbacks_path

%li= active_link_to 'Настройки', admin_settings_path