= form.text_field :meta_title
= form.text_field :meta_keywords
= form.text_field :meta_description
= form.text_field :zip_code, label: "Индекс"
= form.text_field :address, label: "Адрес"
%h4 Как добраться
= form.text_area :get_on_transport, label: "На транспорте"
= form.text_area :get_on_foot, label: "Пешком"
= form.text_field :copywrite, label: "Копирайт"
= form.text_field :email
= form.text_field :notification_emails, label: "Email-ы для уведомлений", placeholder: "user1@example.com, user2@example.com"
= form.text_area :schedule, label: "График работы", class: "wysiwyg"
= form.text_area :contact_phones, label: "Контактные телефоны", class: "wysiwyg"
= form.text_area :phone, label: "Телефон", class: "wysiwyg"
= form.text_area :word_of_wisdom, label: "Слово гл. врача", class: "wysiwyg"
= form.text_area :metrika, label: "Код Яндкс-метрики"

= form.form_group :class => 'form-actions' do
  = form.submit "Сохранить", :class => 'btn btn-primary'