ul.b-devices {
  list-style: none;

  margin: 26px 0 16px 0;
  padding: 0;

  line-height: 110%;

  li.b-devices__item {
    position: relative;
    min-height: 160px;
    margin-bottom: 20px;
    padding-left: 220px;
  }
}

.b-devices {
  margin: 0;
  padding: 0;
  img {
    position: absolute;
    left: 0; top: 0;
  }
}

.b-devices__item {
  h2 {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin: 0 0 12px 0;
  }
}

ul.b-devices-full {
  margin: 46px 0 0 16px;

  .b-devices__item {
    h2 {
      margin: 0 0 8px 0;
    }

    p {
      margin-bottom: 8px;
    }

    li {
      line-height: 150%;
    }
  }
}
