.b-page-event__title {
  h2 {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;

    line-height: 18px;

    margin: 12px 0 24px 0;
  }
}

.b-page-event__date {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 19px;

  color: #96a691;
}

ul.b-events-grid {
  list-style: none;

  margin: 0; padding: 0;

  li {
    float: left;

    width: 460px;

    margin: 0 10px;
  }
}