.b-services {
  position: relative;

  height: 570px;

  background: transparent url("../images/home/background_lines.jpg") no-repeat center 10px;

  .b-services__text {
    width: 310px;
  }

  .b-service, .b-service_cosmetic {
    h2 {
      margin: 0 0 24px 0;
    }

    .b-icon__service {
      position: absolute;

      top: 3px;
    }

    ul {
      height: 360px;

      list-style: none;
      margin: 0; padding: 0;

      li {
        margin: 0 0 10px 0;

        a {
          position: relative;

          display: inline-block;

          line-height: 42px;

          border: 2px solid #d1beb3;
          border-radius: 21px;

          text-decoration: none;
          color: #2f393d;

          background: white;

          padding: 0 20px;

          &:hover {
            background: #fbf5f5;
          }
        }
      }
    }
  }

  .b-service_cosmetic {
    position: absolute;
    left: 6px; top: 244px;
    text-align: right;

    ul {
      li {
        a {
          padding-left: 50px;
        }
      }
    }

    .b-icon__service {
      left: 3px;
    }
  }

  .b-service {
    position: absolute;

    right: 0; top: 54px;

    text-align: left;

    h2 {
      color: #475d41;
    }

    ul {
      li {
        a {
          padding-right: 50px;

          border-color: #c3cab0;

          &:hover {
            background-color: #fcfff4;
          }
        }
      }
    }

    .b-icon__service {
      right: 3px;
    }
  }

  .b-service__button {
    width: 178px;
  }

  h2 {
    display: inline-block;

    font-size: 18px;
    font-weight: bold;
    font-style: italic;

    color: #945a59;

    border-bottom: 1px dashed;
  }
}

.b-services-gallery {
  .l-container {
    position: relative;
  }

  background: #c3d19b;

  .b-services-gallery__prev, .b-services-gallery__next {
    position: absolute;
    top: 225px;

    width: 16px;
    height: 33px;

    background: transparent url("/images/arrows.png") no-repeat left top;
  }

  .b-services-gallery__prev {
    left: -10px;
  }

  .b-services-gallery__next {
    right: -10px;

    background-position: -16px top;
  }

  .b-services-gallery__list {
    position: relative;
    overflow: hidden;

    width: 864px;
    margin: 0 auto;
    padding: 30px 0 10px 0;
  }

  ul {
    margin: 0; padding: 0;
    list-style: none;

    width: 20000em;
    position: relative;
  }

  .b-services-gallery__item {
    position: relative;

    float: left;

    width: 198px;

    padding: 0 10px;

    a {
      text-decoration: none;
    }

    img {
      width: 198px;
      height: 198px;

      border-radius: 99px;
    }

    h3 {
      font-size: 17px;
      font-style: italic;
      font-weight: bold;
      line-height: 19px;

      text-align: center;

      letter-spacing: -1px;

      margin-right: -5px;

      a {
        color: #475d41;
        text-decoration: none;
      }
    }

    p {
      font-size: 14px;
      line-height: 130%;

      margin-right: -5px;
    }
  }
}

.b-label {
  position: absolute;
  top: 0; right: 10px;

  width: 54px;
  height: 42px;

  padding-top: 12px;

  border-radius: 27px;

  background: #faf3e2;

  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #324c15;

  box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);

  b {
    font-size: 25px;
    font-weight: normal;
    line-height: 20px;
    display: block;
  }
}

.b-block-questions {
  width: 400px;
  margin-right: 70px;
}


.b-block__title {
  font-style: italic;

  margin-bottom: 30px;

  a {
    float: right;
    font-size: 13px;
    line-height: 16px;

    border-bottom: 1px #475d41 solid;
    text-decoration: none;
  }
}

.b-question {
  border: 1px solid #f5e0b0;
  border-radius: 4px;

  background: #fffdf8;

  padding: 8px 16px 6px 16px;
  margin-bottom: 20px;

  font-size: 14px;

  .b-question__title {
    font-weight: bold;
    font-style: italic;

    color: #96a691;

    margin-bottom: 2px;

    span {
      display: inline-block;
      margin-left: 30px;
    }
  }

  .b-question__answer {
    margin-left: 11px;
    padding-left: 6px;

    border-left: 2px dotted #dfe3d9;
  }

  p {
    margin: 0 0 12px 0;
  }
}

.b-questions_tags {
  ul {
    list-style: none;
    display: block;
    margin: 0 0 8px 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 18px;

      a {
        font-size: 16px;
        font-style: italic;
        font-weight: bold;

        color: #7e8d53;

        text-decoration: none;
        border-bottom: 1px #7e8d53 solid;
      }
    }
  }
}


li {
  .b-event__title {
    display: inline-block;
    margin-bottom: 6px;
  }
}

.b-event {
  position: relative;

  border: 1px solid #ccd9a8;
  border-radius: 4px;

  background: #faffec;

  padding: 8px 16px 0px 16px;
  margin-bottom: 20px;
  margin-left: 100px;

  font-size: 14px;

  .b-event__author {
    position: absolute;

    left: -100px; top: 0;

    border-radius: 40px;
  }

  .b_event_date {
    font-weight: bold;
    font-style: italic;

    color: #96a691;

    margin-bottom: 8px;
  }

  .b-event__title {
    font-weight: bold;
    font-style: italic;
    color: #475d41;
  }

  a.b-event__title {
    text-decoration: none;
  }

  p {
    margin: 0 0 12px 0;
  }
}

.b-event:after, .b-event:before {
  right: 100%;
  top: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.b-event:after {
  border-color: rgba(250, 255, 236, 0);
  border-right-color: #faffec;
  border-width: 10px;
  margin-top: -10px;
}
.b-event:before {
  border-color: rgba(204, 217, 168, 0);
  border-right-color: #ccd9a8;
  border-width: 11px;
  margin-top: -11px;
}

.b-block-doctor {
  width: 640px;

  margin: 38px 0 28px 10px;
}

.b-block-doctor__content {
  border: 2px solid #e5e6d7;
  border-radius: 4px;

  background: #fdfdfd;

  padding: 20px 20px 0px 20px;

  font-size: 14px;
  line-height: 130%;


  img {
    float: left;

    margin: 0 20px 20px 0;
  }

  h1 {
    margin: 0 0 19px 0;

    line-height: 24px;
  }
}

.b-block-tv {
  width: 258px;
  height: 330px;

  background: transparent url("../images/home/tv.jpg") no-repeat right 110px;

  padding: 64px 0 0 32px;

  float: right;
  margin-right: 5px;

  a {
    color: #475d41;

    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    line-height: 22px;

    text-decoration: none;

    border-bottom: 1px dotted #475d41;
  }
}