.b-tags__list {
  list-style: none;

  margin:  0;
  padding: 0;

  font-size: 16px;
  font-style: italic;
  font-weight: bold;

  line-height: 16px;

  li {
    margin-bottom: 16px;
    line-height: 16px;

    a {
      text-decoration: none;

      border-bottom: 1px dashed #324c15;
    }
  }
}

.b-questions {
  & > h1, & > h2 {
    position: relative;

    margin-top: 0;

    span {
      position: absolute;
      right: 0px;
      top: 2px;

      font-size: 16px;

      i {
        text-decoration: underline;
      }
    }
  }
}

.b-questions_list {
  margin: 26px 0 36px 0;
}

.b-letters {
  list-style: none;

  margin: 0; padding: 0;

  li {
    width: 220px;
    height: 330px;

    float: left;

    margin: 0 10px;

    a {
      outline: none;
    }
  }
}

.b-form_question {
  .btn {
    padding: 0 26px;
  }
}

.b-form_review {
  margin-top: 24px;
}