doctype html
html
  head
    meta charset="utf-8"

    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    
    title Клиника Медицина
    
    meta name="description" content=""
    meta name="author" content=""
    meta name="keywords" content=""

    == stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => true
    == stylesheet_link_tag "colorbox"
    == javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    == javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"
    == javascript_include_tag  "http://api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru-RU"
    == javascript_include_tag  "jquery.colorbox-min.js"
    == javascript_include_tag  "application", 'data-turbolinks-track' => true

  body class="#{page_classes}"
    header.b-header
      a.b-header__logo href="/"

      .b-info
        .b-info__address г.Тверь, ул.Скворцова-Степанова, д.34
        a.b-info__email href="#" klinikamedicinatver@mail.ru
        .b-info__phone
          strong
            |(4822)
          |  31-32-31

      .b-controls
        form.b-search
          input.b-search__text type="text" name="" id=""
          input.b-search__btn.btn type="submit" value="Поиск"

        a.btn.btn-fixed href="#" Задать вопрос
        a.btn.btn-fixed.pull-right href="#" Запись на прием

      ul.b-nav
        li
          a href="2-about.html" О клинике
        li
          a href="5-services.html" Услуги
        li
          a.is-active href="13-prices.html" Цены на услуги
        li
          a href="10-doctors.html" Специалисты
        li
          a href="8-reviews.html" Отзывы
        li
          a href="7-questions.html" Вопрос-ответ
        li
          a href="14-events.html" События
        li
          a href="12-contacts.html" Контакты

    = yield

    footer.b-footer
      .b-footer__left
        .b-info__phone
          strong
            | (4822)
          |  31-32-31

        a.btn.btn-fixed href="#" Запись на прием
        a.btn.btn-fixed href="#" Задать вопрос

      .b-footer__info.b-info
        .b-info__address г.Тверь, ул.Скворцова-Степанова, д.34
        a.b-info__map href="#"
          span Как к нам добраться?
        a.b-info__email href="#"
          span klinikamedicinatver@mail.ru

      .b-footer__copy © 2013-2014 — Клиника Медицина. Все права защищены

      .b-footer__border1
      .b-footer__border2