= form.select :price_id, options_for_select(Price.all.map{ |p| ["#{p.title} (#{t(p.kind)})", p.id] }), label: "Категория"
= form.text_field :title, label: "Название"
= form.text_field :time, label: "Длиельность"
= form.text_field :cost, label: "Стоимость"

= form.form_group :class => 'form-actions' do
  = form.submit "Сохранить", :class => 'btn btn-primary'