.page-header
  = link_to 'Категории', admin_prices_path, :class => 'btn btn-default pull-right'
  = link_to 'Новая категория', new_admin_price_path, :class => 'btn btn-default pull-right'
  = link_to 'Новая услуга', new_admin_service_price_path, :class => 'btn btn-default pull-right'
  %h2= 'Услуги и цены'

= paginate @service_prices, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %thead
    %tr
      %th.col-sm-2 Название
      %th.col-sm-2= sort_link @q, :price_title, "Категория"
      %th.col-sm-2 Длительность
      %th.col-sm-2 Цена
      %th.col-sm-2
  %tbody.sortable_table
    - @service_prices.each do |service_price|
      %tr{id: dom_id(service_price)}
        %td.main= service_price.title
        %td= service_price.price.title
        %td= service_price.time
        %td= service_price.cost
        %td
          .btn-group.btn-group-sm
            = link_to 'Изменить', edit_admin_service_price_path(service_price), :class => 'btn btn-default'
            = link_to 'Удалить', admin_service_price_path(service_price), :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-danger'

= paginate @service_prices, :theme => 'comfy'