.b-page__header
  h1 Контакты

.b-page__content
  .b-contacts
    .b-contacts__address
      h2 «Клиника Медицина»

      .b-contacts__shedule
        == Settings.instance.schedule

      .b-info
        .b-info__address.contact== "#{Settings.instance.zip_code}, #{Settings.instance.address}"
        a.b-info__email href="mailto:#{strip_tags(Settings.instance.email)}"== Settings.instance.email

      .b-contacts_phones.b-info__phone
        == Settings.instance.contact_phones

    #map.b-contacts__map

  .get_on
    h2 Как к нам добраться

    .transport
      h4 На личном транспорте:
      p== Settings.instance.get_on_transport
    
    .foot
      h4 Пешком:
      p== Settings.instance.get_on_foot

  .b-contacts__form
    h2 Форма обратной связи
    = form_for Feedback.new, class: "b-form", remote: true do |f| 
      p
        = f.text_field :name, placeholder: "Ваше имя", 
          class: "b-form__input b-form__short b-form__first", "data-validation" => "required"
      p
        = f.text_field :email, placeholder: "Ваша электронная почта", 
          class: "b-form__input b-form__short", "data-validation" => "email"
      p
        = f.text_area :message, placeholder: "Введите сюда ваше сообщение", 
          class: "b-form__input", "data-validation" => "required"

      .b-form__actions
        = f.submit "Отправить сообщение", class: "btn"

javascript:
  var map;

  ymaps.ready(init);

  function init() {
    map = new ymaps.Map('map', {
      center: [56.8753,35.891199],
      zoom: 15
    });

    var mark = new ymaps.Placemark(map.getCenter(), {}, {
      iconImageHref: '/images/marker.png',
      iconImageSize: [60, 84]
    });

    map.geoObjects.add(mark);
  }