.b-footer {
  position: relative;

  width: 940px;
  height: 176px;

  margin: 0 auto 18px auto;
  padding: 76px 0 0 0;

  background: transparent image-url("footer.png") no-repeat bottom right;
  clear: both;
  .b-footer__copy {
    font-size: 14px;
    color: #80a276;

    clear: both;
  }

  .b-footer__left {
    float: left;

    width: 240px;
    height: 140px;

    .b-info__phone {
      margin-bottom: 12px;
      line-height: 24px;
    }

    .btn {
      float: left;
      margin-bottom: 10px;
    }
  }

  .b-footer__info {
    float: left;
    position: relative;
    left: 0; top: 1px;

    overflow: visible;

    color: #475d41;

    div, a {
      float: left;
      clear: both;

      padding-left: 30px;

      height: 27px;
      overflow: hidden;
    }

    .b-info__map {
      margin-bottom: 12px;
    }

    .b-info__map, .b-info__email {
      text-decoration: none;
    }
  }

  .b-footer__border1, .b-footer__border2 {
    position: absolute;

    top: 55px;

    border-top: 1px solid #d7c8a4;
  }

  .b-footer__border1 {
    left: 0;
    width: 686px;
  }

  .b-footer__border2 {
    right: 0;
    width: 86px;
  }
}