.b-icon__service {
  background: transparent image-url('service_icons.png') no-repeat left top;

  display: inline-block;

  width: 36px;
  height: 36px;
}

.b-icon__service2 {
  background-position: 0 -45px;
}

.b-icon__service3 {
  background-position: 0 -90px;
}

.b-icon__service4 {
  background-position: 0 -135px;
}

.b-icon__service5 {
  background-position: 0 -180px;
}

.b-icon__service6 {
  background-position: 0 -225px;
}

.b-icon__service7 {
  background-position: 0 -270px;
}

.b-icon__service8 {
  background-position: 0 -315px;
}

.b-icon__service9 {
  background-position: 0 -360px;
}