img.left {
  float: left;

  margin: 0 20px 10px 0;
}

img.right {
  float: right;

  margin: 0 0px 10px 20px;
}

blockquote {
  border: 2px solid #e4e3cf;
  border-radius: 4px;

  background: #fdfdfd;

  font-size: 16px;
  font-style: italic;
  font-weight: bold;

  margin: 36px 0 18px 0;
  padding: 18px 20px;

  line-height: 22px;

  color: #475d41;
}

blockquote.right {
  background: transparent;

  border: none;
  border-radius: 0;

  text-align: right;

  color: #2f393d;

  padding: 0;
  margin: 0 0 18px 0;

  line-height: 125%;
}

.b-page__header {
  height: 20px;
  margin: 26px 0 24px 0;

  h1 {
    float: left;

    margin: 0;
  }

  ul {
    float: right;

    list-style: none;

    margin: 0; padding: 0;

    li {
      display: inline-block;

      margin: 0 0 0 16px;
      padding: 0;

      a {
        font-size: 16px;
        font-weight: bold;
        font-style: italic;

        text-decoration: none;

        border-bottom: 1px dashed #475d41;
      }
    }
  }

  p {
    clear: both;

    margin: 12px 0;
  }
}

.b-about-gallery {
  margin: 0 0 46px 0; padding: 0;
  list-style: none;

  li {
    float: left;
    margin: 0 10px; padding: 0;

    width: 300px;
    height: 314px;

    h2 {
      font-size: 16px;
      font-style: italic;
      font-weight: bold;

      margin: 0;
    }
  }
}

.b-about-video {
  width: 640px;
  margin: 48px auto 0 auto; padding: 0;
  list-style: none;

  li {
    margin: 0 0 34px 0; padding: 0;

    h2 {
      font-size: 16px;
      font-style: italic;
      font-weight: bold;

      margin: 6px 0 0 0;
    }
  }
}

.b-videos {
  width: 640px;
  list-style: none;
  margin: 26px 0 0 0;
  padding: 0;

  & > li {
    margin: 0 0 34px 0; padding: 0;

    h2 {
      font-size: 16px;
      font-style: italic;
      font-weight: bold;

      margin: 6px 0 0 0;
    }
  }
}

.b-page__sidebar {
  float: left;

  width: 310px;
  margin-right: 10px;

  h1 {
    margin: 12px 0 10px 0;
    a {
      text-decoration: none;
    }
    
  }
  
 

  .b-service_cosmetic, .b-service {

    h2 {
      display: inline-block;

      font-size: 18px;
      font-weight: bold;
      font-style: italic;

      border-bottom: 1px dashed;

      margin: 14px 0 26px 0;
      a {
        text-decoration: none;
      }
    }


    .b-icon__service {
      position: absolute;

      top: 3px;
      right: 3px;
    }


    & > ul {
      list-style: none;
      margin: 0 0 18px 0; padding: 0;

      li.b-service__item {
        margin: 0 0 10px 0;
        & > a {
          position: relative;

          display: inline-block;

          line-height: 42px;

          border: 2px solid #d1beb3;
          border-radius: 21px;

          text-decoration: none;
          color: #2f393d;

          background: white;

          padding: 0 20px 0 20px;

          &:hover {
            background: #fbf5f5;
            img{
              filter: contrast(0.8);
              -webkit-filter: contrast(0.8);
              -moz-filter: contrast(0.8);
              -o-filter: contrast(0.8);
              -ms-filter: contrast(0.8);
            }
          }
          img {
            border: 0;
            vertical-align: middle;
            /*padding-right: 10px;*/
            float: right;
            position: relative;
            top: 3px;
            left: 17px;
          }
        }

        .b-list {
          margin: 10px 32px 28px 6px;
          line-height: 16px;
          list-style-image: url('bullet_pink.png');

          li {
            margin-bottom: 16px;

            a {
              color: #2f393d;

              &:hover {
                text-decoration: none;
                border: none;
              }
            }
          }
        }
      }

    }
  }

 .b-service_cosmetic h2 {
    border-bottom: 1px dashed #945a59;
    a {
      color: #945a59;
    }
  }

  .b-service {
    h2 {
      color: #475d41;
    }

    ul {
      li.b-service__item {
        a {
          border-color: #c3cab0;

          &:hover {
            /* background-color: #fcfff4; */
          }
        }
      }
    }
  }
}

.b-page_with_sidebar {
  margin-top: 14px;

  .b-page__content {
    float: left;

    width: 620px;
  }
}

.b-page__content_margin {
  margin-top: 46px;
}

.b-content-title, .b-page__title {
  margin: 14px 0 26px 0;
}
