#new_feedback, #new_question, #new_review{
  .b-form__input{
    margin-bottom: 0;
  }
  p{
    display: inline-block;
    // margin-bottom: 30px;
  }
  .has-error > span{
    display: block;
    margin: 10px;
  }
}
