.b-page__header
  h1 Отзывы
  ul
    li
      = link_to "Все отзывы", reviews_path, highlight_inline_active(reviews_path)
    li
      = link_to "Письменные отзывы", written_reviews_path, highlight_inline_active(written_reviews_path)
    li
      = link_to "Видео отзывы", videos_reviews_path, highlight_inline_active(videos_reviews_path)

p Здесь вы можете оставить ваш отзыв об услугах клиники или о конкретном специалисте. Мы обязательно учтем все ваши пожелания и отзывы и сделаем все, что вы оставались довольны нашей работой.

h3 Ваше мнение важно для нас!

= form_for @review, class: 'b-form' do |f|
  p
    = f.text_field :name, class: 'b-form__input b-form__short b-form__first', "data-validation" => "required", placeholder: "Ваше имя"
  p
    = f.text_field :email, class: 'b-form__input b-form__short', "data-validation" => "email", placeholder: "Ваша электронная почта"
  p
    = f.text_area :content,  class: 'b-form__input', placeholder: "Введите сюда ваш отзыв", "data-validation" => "required"
  .b-form__actions
    = f.submit "Оставить отзыв", class: "btn"

.l-row
  .l-col-220
    ul.b-tags__list
      li
        =link_to "Все теги", reviews_path, highlight_inline_active(reviews_path)
      - @all_tags.map(&:name).each do |tag|
        li
          = link_to tag, tagged_reviews_path(tag), highlight_inline_active(tagged_reviews_path(tag))


  .l-col-700.b-questions
    - if @written.present?
      h2
        | Письменные отзывы
        span 
          | Всего
          italic= @written.count
          | отзывов
      
      -@written.each do |review|
        .b-question
          .b-question__title=review.name
            span=review.created_at.to_date.strftime("%d %m %Y")
          p=review.content
          .b-questions_tags
            ul
              -review.tags.each do |q_tag|
                li
                  =link_to q_tag, tagged_reviews_path(q_tag.name)
        
    - if @videos.present?
      h2
        | Видео отзывы
        span 
          | Всего
          italic= @videos.count
          | отзывов
      
      ul.b-videos
        - @videos.each do |video|
          li
            = raw video.get_content
            .b-questions_tags
              ul
                li
                  a href="#" Пиллинг