.page-header
  = link_to 'Новое видео', new_admin_video_path, :class => 'btn btn-default pull-right'
  %h2= 'Видео'

= paginate @videos, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %thead
    %tr
      %th.main Title
      %th Url
      %th
  %tbody.sortable_table
    - @videos.each do |video|
      %tr{id: dom_id(video)}
        %td.main= video.title
        %td= video.url
        %td
          .btn-group.btn-group-sm
            = link_to 'Изменить', edit_admin_video_path(video), :class => 'btn btn-default'
            = link_to 'Удалить', admin_video_path(video), :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-danger'

= paginate @videos, :theme => 'comfy'