.b-contacts {
  border: 1px solid #e6e7d6;
  border-radius: 4px;

  height: 406px;

  margin-bottom: 26px;

  .b-info {
    position: inherit;

    border-bottom: 1px dashed #e6e7d6;

    height: 72px;

    margin-left: 12px;

    .b-info__address {
      margin-bottom: 10px;
      font-size: 13px;
      /*height: 20px;*/
    }
  }
}

.b-contacts__address {
  float: left;
  width: 264px;
  height: 406px;

  padding: 0 25px;

  background: white;

  h2 {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;

    margin: 20px 0 18px 0;
  }
}

.b-contacts_phones {
  font-size: 18px;
  line-height: 28px;

  margin: 10px 0 0 0px;

  ul {
    list-style: none;
    padding: 0 0 0 5px;

    li {
      padding: 0 0 0 30px;
      background: image-url("phone.png") no-repeat 4px 4px;

      &:nth-child(1n+2){
        background: image-url("mts.png") no-repeat left top;
      }
      &:nth-child(1n+3){
        background: image-url("tele2.png") no-repeat left 9px;
      }
    }
  }
}

.b-contacts__map {
  float: left;

  width: 624px;

  height: 406px;
}

.b-contacts__shedule ul{
  margin: 0 0 10px 9px;
  padding: 0 0 16px 0;
  list-style: none;

  li {
    line-height: 125%;
  }
  li:before{
    content: "";
    display: inline-block;

    width: 10px;
    height: 10px;

    border: 1px solid #324c15;
    border-radius: 6px;

    background: #324c15;

    margin-right: 40px;


  }

  li:nth-child(1n+6):before{
    content: "";
    background: white;
  }

  color: #324c15;

  border-bottom: 1px dashed #e6e7d6;

  span {
    display: inline-block;

    width: 10px;
    height: 10px;

    border: 1px solid #324c15;
    border-radius: 6px;

    background: #324c15;

    margin-right: 40px;
  }

  .is-day-off {
    span {
      background: white;
    }
  }
}

.get_on{
  margin: 0 auto;

  .transport {
    margin: 0 35px 0 0;
    width: 450px;
    float: left;
  }

  .foot {
    width: 450px;
    float: left;
  }
}

.b-contacts__form {
  h2 {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;

    margin: 24px 0 28px 0;
  }

  textarea {
    height: 56px;
  }
}