.b-doctors {
  list-style: none;

  margin: 0; padding: 0;

  li {
    position: relative;

    float: left;

    width: 460px;
    height: 300px;

    margin: 0 10px 40px 10px;

    img, .img_block {
      float: left;

      margin-right: 20px;
    }

    .img_block {
      width: 220px;
      height: 300px;
    }
  }

  h2 {
    margin: 0 0 16px 0;

    font-size: 18px;
    font-weight: bold;
    font-style: italic;

    line-height: 125%;
  }

  p {
    margin: 0;
    line-height: 110%;
  }
}

.b-doctors-small {
  h2 {
    font-size: 16px;
  }

  li {
    width: 300px;
    height: 140px;

    line-height: 110%;
  }

  .b-doctor__more {
    left: 120px;
  }

  margin-top: 24px;
}

.b-doctor__more {
  position: absolute;

  bottom: 0;
  left: 240px;

  a {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;

    border-bottom: 1px dashed #475d41;

    text-decoration: none;
  }
}

.b-doctor {
  list-style: none;

  margin: 0; padding: 0;

  img, .img_block {
    float: left;
    margin-right: 20px;
  }

  .img_block {
    width: 380px;
    height: 505px;
  }

  h2 {
    margin: 0 0 16px 0;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
  }

  .b-doctor__item {
    width: 240px;
    font-weight: bold;
    padding-bottom: 44px;
  }

  table {
    border: none;
    width: auto;

    td {
      padding: 0 0 14px 0;
      vertical-align: top;
      border: none;
      background: none !important;
    }
  }
}