.b-search-results {
  margin-top: 34px;

  h2 {
    margin: 30px 0 12px 0;
    a {
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
    margin: 0; padding: 0;
  }

  .b-search__item {
    margin-bottom: 20px;
  }

  .b-search__excerpt {
    margin-bottom: 6px;
  }
}