= form.text_field :name, label: "Имя"
= form.text_field :category, label: "Категория"
= form.text_area :description, label: "Описание", class: "wysiwyg"

div.form-group style="margin: 0 160px"
  = image_tag @expert.avatar.url(:thumb) if @expert.avatar.exists?

= form.file_field :avatar, label: "Изображение"

div.form-group style="margin: 0 160px" 
  - Expert::GENDERS.each do |gender|
    = form.radio_button "gender", gender, label: t(gender)


= form.fields_for :meta_tag do |tag|
  = tag.text_field :meta_title
  = tag.text_field :meta_keywords
  = tag.text_field :meta_description

= form.form_group :class => 'form-actions' do
  = form.submit "Сохранить", :class => 'btn btn-primary'
