.page-header
  = link_to 'Новый специалист', new_admin_expert_path, :class => 'btn btn-default pull-right'
  %h2= 'Специалисты'

= paginate @experts, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Фото
      %th Имя
      %th Категория
      %th
  %tbody.sortable_table
    - @experts.each do |expert|
      %tr{id: dom_id(expert)}
        %td= expert_image(expert, :medium)
        %td= expert.name
        %td= truncate expert.category
        %td
          .btn-group.btn-group-sm
            = link_to 'Изменить', edit_admin_expert_path(expert), :class => 'btn btn-default'
            = link_to 'Удалить', admin_expert_path(expert), :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-danger'

= paginate @experts, :theme => 'comfy'