doctype html
html
  head
    meta charset="utf-8"

    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    = render "shared/meta_tags"
    

    == stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => true
    == stylesheet_link_tag "colorbox"
    == javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    == javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"
    == javascript_include_tag  "http://api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru-RU"
    == javascript_include_tag  "application", 'data-turbolinks-track' => true
    == csrf_meta_tags

  body
    header.b-header
      a.b-header__logo href="/"

      .b-info
        a.b-info__address href="/contact/index" == Settings.instance.address
        a.b-info__email href="mailto:#{strip_tags(Settings.instance.email)}" == Settings.instance.email
        .b-info__phone== Settings.instance.phone

      .b-controls
        form.b-search action=search_path method="get"
          input.b-search__text type="text" name="q" id=""
          input.b-search__btn.btn type="submit" value="Поиск"

        =link_to "Задать вопрос", questions_path, class: "btn btn-fixed"
        a.btn.btn-fixed.pull-right href="#" Запись на прием

      ul.b-nav
        -@root_page.children.published.each do |page|
          li
            = link_to page.label, page.full_path, highlight_active(page.full_path)
        / li
        /   = link_to "Услуги", services_path, highlight_active(services_path)
        li
          = link_to "Услуги и цены", price_index_path, highlight_active(price_index_path)
        li
          = link_to "Специалисты", experts_path, highlight_active(experts_path)
        li
          = link_to "Вопрос-ответ", questions_path, highlight_active(questions_path)
        li
          = link_to "События", events_path, highlight_active(events_path)
        li
          = link_to "Отзывы", reviews_path, highlight_active(reviews_path)  
        li
          = link_to "Контакты", contact_index_path, highlight_active(contact_index_path)
    .l-container
      = yield

    footer.b-footer
      .b-footer__left
        .b-info__phone== Settings.instance.phone

        a.btn.btn-fixed href="#" Запись на прием
        a.btn.btn-fixed href="/questions" Задать вопрос

      .b-footer__info.b-info
        a.b-info__address href="/contact/index" == Settings.instance.address
        a.b-info__map href="/contact/index"
          span Как к нам добраться?
        a.b-info__email href="mailto:#{strip_tags(Settings.instance.email)}"
          span== Settings.instance.email

      .b-footer__copy== Settings.instance.copywrite

      .b-footer__border1
      .b-footer__border2

    = Settings.instance.metrika.to_s.html_safe