.b-page__header
  h1 Специалисты клиники

.l-row
  ul.b-doctors
    -@experts.each do |expert|
      li
        =link_to expert_path(expert) do
          .img_block
            = expert_image(expert, :medium)
          h2= expert.name
        p= expert.category
        .b-doctor__more
          =link_to "Подробнее о специалисте", expert_path(expert)
