.b-page__header
  h1 Специалисты клиники
  ul
    li
      =link_to "Все специалисты", experts_path


.b-doctor
  .img_block
    = expert_image(@expert, :lg)
  h2= @expert.name

  table
    tr
      td.b-doctor__item Врач. категория:
      td= @expert.category
  = raw @expert.description
.l-row